@font-face 
{
    font-family: 'Archivo Black';
    src: url("../fonts/Archivo_Black/ArchivoBlack-Regular.ttf");
}

.main
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10px 20px 10px;
    background-color: var(--main100);
    font-family: "Archivo Black", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

.button_container a
{
    text-decoration: none;
    color:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}

.logo img
{
    width: 180px;
    height: 80px;
}

.err_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.err_icon img
{
    height: 90%;
    width: auto;
}

.text
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    flex-wrap: wrap;
}

.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    font-size: 40px;
    text-align: center;
}

.description
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    font-weight: 300;
    text-align: center;
}

.text404
{
    color: var(--main700);
}

.button_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.button_home
{
    background-color: var(--main100);
    border: 2px solid var(--gray900);
    color: var(--gray800);
    width: 150px;
    height: 32px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 2px 0px 2px 0px;
}

.button_home:hover
{
    background-color: var(--main200);
    border: 2px solid var(--main700);
    color: var(--gray900);
}

.empty
{
    width: 100%;
    height: 20%;
}
