@font-face 
{
    font-family: 'Archivo Black';
    src: url("../fonts/Archivo_Black/ArchivoBlack-Regular.ttf");
}

.main
{
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10rem 5rem;
    background-color: var(--main100);
    font-family: "Archivo Black", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    gap: 3rem;
}

.button_container a
{
    text-decoration: none;
    color:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.err_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
}

.err_icon img
{
    height: 100%;
    width: 100%;
}

.text
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    flex-wrap: wrap;
}

.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    font-size: 40px;
    text-align: center;
    color: var(--color-lime-moss)
}

.description
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    font-weight: 300;
    text-align: center;
}

.text404
{
    color: var(--main700);
}

.button_standard
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
    gap: .6rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 2.4rem;
    width: 12rem;
    font-size: 1.1rem;
    border: 1px solid;
    border-color: var(--color-dark-green);
    opacity: 80%;
}

.button_standard img
{
    width: 1.1rem;
    height: 1.1rem;
}

.button_standard:hover
{
    border-color: var(--color-lime-moss);
    opacity: 100%;
}