@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend/Lexend-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --footer700: #ce6c6c;
  --footer50: #141212;
  --footer100: #242020;

  /* Website background */
  --color-onyx: #0d0a0b;

  /* Cards/widgets backgorund */
  --color-charcoal-blue: #303238;

  /* Primary */
  --color-lavender-mist: #f3eff5;

  /* Accent */
  --color-lime-moss: #72b01d;
  
  --color-green: #3f7d20;
  --color-dark-green: #305120;
}

html {
  font-size: 16px;
  font-family: "Lexend", serif;
  font-weight: normal;
  scroll-behavior: smooth;
}

body {
  background: var(--color-onyx);
  color: var(--color-lavender-mist);
  padding-bottom: 60px;
}

a {
  text-decoration: none;
  color: inherit;
}

.clickable {
  cursor: pointer;
}

@media (min-width: 2560px) {
  html {
    font-size: 21px;
  }
}

@media (min-width: 3840px) {
  html {
    font-size: 32px;
  }
}

@media (max-width: 1366px) {
  html {
    font-size: 11px;
  }
}

.hidden {
  opacity: 0;
  transition: 1s;
  filter: blur(3px);
  transform: translateY(2rem);
  transition-delay: 200ms;
}

.show {
  opacity: 100%;
  filter: blur(0);
  transform: translateY(0);
}

.hiddenInstant {
  opacity: 0;
}

.showInstant {
  opacity: 100%;
}

.hiddenSingle {
  opacity: 0;
  transition: 0.5s;
  transform: translateY(2rem);
  transition-delay: 200ms;
}

.showSingle {
  opacity: 100%;
  transform: translateY(0);
}

.hiddenSingle:nth-child(2) {
  transition-delay: 400ms;
}

.hiddenSingle:nth-child(3) {
  transition-delay: 600ms;
}

.hiddenSingle:nth-child(4) {
  transition-delay: 800ms;
}

.hiddenSingle:nth-child(5) {
  transition-delay: 1000ms;
}

.hiddenSingle:nth-child(6) {
  transition-delay: 1200ms;
}

.hiddenSingle:nth-child(7) {
  transition-delay: 1400ms;
}

.hiddenSingle:nth-child(8) {
  transition-delay: 1600ms;
}

.loader {
  display: flex;
  justify-self: center;
  align-self: center;
  margin: auto;
}

.loader_spinner {
  display: flex;
  border: 4px solid var(--color-lavender-mist);
  border-top: 4px solid var(--color-lime-moss);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 40px auto;
  justify-self: center;
  align-self: center;
}

.loader-global
{
  position: fixed;
  inset: 0px;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: var(--color-onyx);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader-global_transparent {
  position: fixed;
  inset: 0px;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: #242424d2;
  margin: auto;
  z-index: 100;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#common-footer {
  opacity: 0;
}

#common-footer.footer-ready {
  opacity: 1;
}

button
{
  outline: inherit;
  border: none;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
}


/* Calendar styling */
:root {
  --fc-page-bg-color: transparent;
  --fc-neutral-bg-color: rgba(243, 239, 245, 0.03);
  --fc-neutral-text-color: var(--color-lavender-mist);
  --fc-border-color: rgba(243, 239, 245, 0.1);

  --fc-button-text-color: var(--color-lavender-mist);
  --fc-button-bg-color: var(--color-dark-green);
  --fc-button-border-color: var(--color-dark-green);
  --fc-button-hover-bg-color: var(--color-green);
  --fc-button-hover-border-color: var(--color-green);
  --fc-button-active-bg-color: var(--color-lime-moss);
  --fc-button-active-border-color: var(--color-lime-moss);

  --fc-event-bg-color: var(--color-green);
  --fc-event-border-color: var(--color-lime-moss);
  --fc-event-text-color: var(--color-lavender-mist);

  --fc-today-bg-color: rgba(114, 176, 29, 0.15);
  --fc-highlight-color: rgba(243, 239, 245, 0.05);
  --fc-now-indicator-color: var(--color-lime-moss);
}

/* FullCalendar forces default link colors on the day numbers and day names. This small override forces them to use lavender-mist text color instead of ugly default blue.*/
.fc-col-header-cell-cushion, 
.fc-daygrid-day-number {
  color: var(--color-lavender-mist) !important;
  text-decoration: none;
}

.fc .fc-header-toolbar
{
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  text-transform: capitalize;
}

.fc-header-toolbar, .fc .fc-button {
  font-size: .8rem !important;
}

.fc td, .fc th {
  padding: .2rem;
}

.fc a.fc-event
{
  text-decoration: none;
  cursor: pointer;
}

.fc .fc-toolbar-chunk *
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  flex-wrap: wrap;
  gap: .2rem;
}

.fc .fc-next-button, .fc .fc-prev-button
{
  background-color: transparent;
  border: none;
  padding: .2rem .3rem;
  font-size: .8rem;
}

.fc .fc-next-button:hover, .fc .fc-prev-button:hover
{
  background-color: #0d0a0b25;
}

.fc .fc-button:focus
{
  border: none !important;
  box-shadow: none !important;
}

.fc .fc-next-button:active, .fc .fc-prev-button:active
{
  background-color: #0d0a0b3a !important; 
  border: none;
}


@media (max-width:768px)
{
  .fc-event-time
  {
    display: none;
  }

  .fc .fc-toolbar-chunk:nth-child(1)
  {
    display: none;
  }

  .fc .fc-toolbar-chunk:nth-child(2)
  {
    width: 100%;
  }

  .fc .fc-header-toolbar
  {
    justify-content: center;
  }


}