@font-face 
{
  font-family: 'Lexend';
  src: url("/fonts/Lexend/Lexend-VariableFont_wght.ttf");
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{
  --footer700: #ce6c6c;
  --footer50: #141212;
  --footer100: #242020;
  --color-onyx: #0D0A0B;
  --color-charcoal-blue: #303238;
  --color-lavender-mist: #F3EFF5;
  --color-lime-moss: #72B01D;
  --color-green: #3F7D20;
  --color-dark-green: #305120;

}

html {
  font-size: 16px;
  font-family: "Lexend", serif;
  font-weight: normal;
  scroll-behavior: smooth;
}

body
{
  background: var(--color-onyx);
  color: var(--color-lavender-mist);
  padding-bottom: 60px;
}

a
{
  text-decoration: none;
  color: inherit;
}

.clickable
{
  cursor: pointer;
}

@media (min-width: 2560px) 
{
  html {
    font-size: 21px;
  }
}

@media (min-width: 3840px) 
{
  html {
    font-size: 32px;
  }
}

@media (max-width: 1366px) 
{
  html {
    font-size: 11px;
  }
}
