:root {
    --color-warning-red: #b42525;
    --color-overlay: rgba(0, 0, 0, 0.7);

    --dashboard-background: oklch(0.04 0 129);
    --dashboard-background-s2: oklch(0.14 0 129);
    --dashboard-background-s3: oklch(0.18 0 129);
    --dashboard-background-s4: oklch(0.24 0 129);
    --dashboard-background-s5: oklch(0.30 0 129);
    --dashboard-background-s6: oklch(0.36 0 129);

    --dashboard-stroke: oklch(0.30 0 129);

    --dashboard-text: oklch(0.90 0 129);
    --dashboard-text-s2: oklch(0.60 0 129);
    --dashboard-text-s3: oklch(0.40 0 129);

    --fc-page-bg-color: transparent;
    --fc-neutral-bg-color: rgba(243, 239, 245, 0.03);
    --fc-neutral-text-color: var(--dashboard-text);
    --fc-border-color: rgba(243, 239, 245, 0.1);

    --fc-button-text-color: var(--dashboard-text);
    --fc-button-bg-color: var(--dashboard-background-s4);
    --fc-button-border-color: var(--dashboard-stroke);
    --fc-button-hover-bg-color: var(--dashboard-background-s6);
    --fc-button-hover-border-color: var(--dashboard-stroke);
    --fc-button-active-bg-color: var(--dashboard-background-s6);
    --fc-button-active-border-color: var(--dashboard-background-s6);

    --fc-event-bg-color: var(--color-green);
    --fc-event-border-color: var(--color-lime-moss);
    --fc-event-text-color: var(--dashboard-text);

    --fc-today-bg-color: rgba(114, 176, 29, 0.15);
    --fc-highlight-color: var(--dashboard-background-s2);
    --fc-now-indicator-color: var(--dashboard-text);
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dashboard-text);
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dashboard-text);
}

h3 {
    font-size: 1.125rem;
    font-weight: normal;
    color: var(--dashboard-text);
}

/* Normal */
h4 {
    font-size: 1rem;
    font-weight: normal;
    color: var(--dashboard-text);
}

h5 {
    font-size: .875rem;
    font-weight: normal;
    color: var(--dashboard-text-s2);
}

h6 {
    font-size: .75rem;
    font-weight: normal;
    color: var(--dashboard-text-s3)
}

main
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

body
{
    min-height: 100vh;
    font-size: 1rem;
    font-weight: normal;
    color: var(--dashboard-text);
}

.header
{
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--dashboard-text);
    flex-wrap: wrap;
}

.btn_primary, .btn_secondary, .btn_tertiary
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0.6rem;
    border-radius: 8px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: opacity 0.2s ease, transform 0.1s ease;
    height: min-content;
}

.btn_primary img, .btn_secondary img, .btn_tertiary img
{
    width: 0.9rem;
    height: 0.9rem;
}


.btn_primary:active, .btn_secondary:active, .btn_tertiary:active
{
    transform: scale(0.96);
}

.btn_primary
{
    background-color: var(--dashboard-text);
    color: var(--dashboard-background);
}

.btn_primary:hover
{
    opacity: 0.9;
}

.btn_secondary
{
    background-color: var(--dashboard-background-s4);
    color: var(--dashboard-text);
    border: 1px solid var(--dashboard-stroke);
}

.btn_secondary:hover
{
    background-color: var(--dashboard-background-s6);
}

.btn_tertiary
{
    background-color: var(--dashboard-background-s2);
    color: var(--dashboard-text);
    border: 1px solid var(--dashboard-stroke);
}

.btn_tertiary:hover
{
    background-color: var(--dashboard-background-s4);
}

.dashboard
{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20rem 1fr;
    flex-wrap: wrap;
    position: fixed;
}

.dashboard_navbar
{
    background-color: var(--dashboard-background-s2);
    width: 100%;
    height: calc(100vh - 60px); /* 60px is the footer height */
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    border-right: 1px solid var(--dashboard-stroke);
}

.selector
{
    padding: 2rem;
    width: auto;
}

.selector ul
{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: .5rem;
}

.selector li
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 1.3rem;
    gap: .7rem;
    font-size: 1.1rem;
    border-radius: 6px;
    padding: 1rem .5rem;
    cursor: pointer;
}

.selector li img
{
    width: 1rem;
    height: 1rem;
}

.selector li:hover
{
    background-color: var(--dashboard-background-s4);
    opacity: 100%;
}

.selector li.active
{
    background-color: var(--dashboard-background-s4);
    opacity: 100%;
}

.user_card_container
{
    display: flex;
    height: 100%;
}

.user_card
{
    display: grid;
    padding: 1rem;
    width: 100%;
    background-color: var(--dashboard-background-s3);
    height: 6rem;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 100%;
    column-gap: 1rem;
}

.user_card .picture
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_card .picture img
{
    width: 3rem;
    height: 3rem;
    border-radius: 4rem;
}

.user_card .details
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.more_icon
{
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

.more_icon .more_button
{
    color: var(--dashboard-text-s2);
    cursor: pointer;
    transition: color .1s ease-in;
}

.more_icon button:hover
{
    color: var(--dashboard-text);
}

.action_menu
{
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-left: 1rem;
    z-index: 10;
    white-space: nowrap;
}

.action_menu.active
{
    display: flex;
}

.action_menu ul
{
    background-color: var(--dashboard-background-s2);
    border: 1px solid var(--dashboard-stroke);
    border-radius: 6px;
    padding: .5rem .5rem;
}

.action_menu li
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 1.3rem;
    gap: .7rem;
    border-radius: 6px;
    cursor: pointer;
    margin: .7rem 0;
    padding: .5rem;
}

.action_menu li:hover
{
    background-color: var(--dashboard-background-s4);
    opacity: 100%;
}

.action_menu li.active
{
    background-color: var(--dashboard-background-s4);
    opacity: 100%;
}

.action_menu li img
{
    width: .8rem;
    height: .8rem;
}

.content
{
    width: 100%;
    overflow: auto;
    height: calc(100vh - 60px);
}

.tab_content
{
    display: none;
    width: 100%;
    padding: 2rem;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: auto;
}

.tab_content.active
{
    display: flex;
}

.tab_content a
{
    text-decoration: underline;
}

#content-account .account_wrapper
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--dashboard-text);
}

#content-account .account_header
{
    margin: 0;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--dashboard-stroke);
    font-size: 1.8rem;
}

#content-account .account_card
{
    background-color: var(--dashboard-background-s3);
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#content-account .card_title
{
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    color: var(--dashboard-text);
}

#content-account .pfp_container
{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#content-account .pfp_preview
{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--color-onyx);
}

#content-account .pfp_actions
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

#content-account .hidden_input
{
    display: none;
}

#content-account .name_container
{
    display: flex;
    gap: 1rem;
    align-items: center;
}

#content-account .account_input
{
    flex-grow: 1;
    background-color: var(--dashboard-background-s2);
    border: 1px solid var(--dashboard-stroke);
    color: var(--dashboard-text);
    padding: 0.8rem 1rem;
    border-radius: 8px;
    font-family: inherit;
    font-size: 1rem;
    transition: border-color 0.2s ease;
}

#content-account .account_input:focus
{
    outline: none;
    border-color: var(--dashboard-text);
}

/* Future Features Placeholder */
#content-account .placeholder_card
{
    background-color: transparent;
    border: 2px dashed var(--color-charcoal-blue);
    opacity: 0.6;
}

#content-account .placeholder_text
{
    font-style: italic;
    margin: 0;
}

#content-tournaments .tab_header
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    border-bottom: var(--dashboard-stroke) 1px solid;
    gap: 1rem;
}

#content-tournaments .tournament_create_title
{
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

#content-tournaments input
{
    background-color: var(--dashboard-background-s2);
    border: 1px solid var(--dashboard-stroke);
    color: var(--dashboard-text-s2);
    padding: 0.4rem;
    border-radius: 4px;
    width: 16rem;
    font-family: inherit;
    height: 2.5rem;
    transition: border-color 0.2s ease;
}

#content-tournaments input:focus
{
    outline: none;
    border-color: var(--color-text);
}

#content-tournaments .tournament_card:first-child
{
    border-radius: 6px 6px 0px 0px;
}

#content-tournaments .tournament_card:last-child
{
    border-radius: 0px 0px 6px 6px;
}

#content-tournaments .tournament_card
{
    display: grid;
    grid-template-columns: 1rem 22rem 6rem 2rem;
    grid-template-rows: 1fr;
    gap: 1rem;
    background-color: var(--dashboard-background-s3);
    padding: 0rem 1rem;
    border: 1px solid var(--dashboard-stroke);
    height: 4rem;
    min-width: 300px;
}

#content-tournaments.info_container, #content-tournaments .role
{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

#content-tournaments .tournament_card .status
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-tournaments .tournament_card .status_dot
{
    width: .5rem;
    height: .5rem;
    border-radius: 100%;
    background-color: var(--color-lime-moss);
}

#content-tournaments .tournament_card .info_container
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

#content-tournaments .tournament_card .info
{
    display: block;
    width: 100%;
}

#content-tournaments .tournament_card .info *
{
    width: 100%;
}

#content-tournaments .tournament_card .buttons
{
    display: flex;
    gap: 1rem;
}

#content-tournaments .action_menu
{
    bottom: 70%;
    margin-left: 2rem;
}

#content-tournaments .action_menu .tournament_leave_btn h4
{
    color: var(--color-warning-red);
}

.tournament_btn
{
    border-radius: 100%;
}

.popup_overlay, .confirmation_popup
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-overlay);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.confirmation_popup
{
    z-index: 1000 !important;
}

.popup_overlay.active, .confirmation_popup.active
{
    opacity: 1;
    visibility: visible;
}

.popup_container
{
    background-color: var(--dashboard-background);
    color: var(--dashboard-text);
    width: 90%;
    max-width: 35rem;
    border-radius: 12px;
    padding: 2.5rem 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--dashboard-stroke);
    text-align: center;
    
    transform: translateY(-20px) scale(0.95);
    transition: transform 0.3s ease;
}

.popup_overlay.active, .confirmation_popup.active .popup-container
{
    transform: translateY(0) scale(1);
}

.popup_icon
{
    color: var(--color-warning-red);
    margin: 0 auto 1.5rem auto;
}

.popup_icon img
{
    width: 4rem;
    height: 4rem;
}

.popup_body
{
    margin-bottom: 2rem;
}

.popup_body p
{
    color: var(--dashboard-text);
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0;
}

.popup_body .highlight
{
    font-weight: 700;
    white-space: nowrap;
}

.popup_footer
{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.btn
{
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease, transform 0.1s ease;
    width: 100%;
}

.btn:active
{
    transform: scale(0.97);
}

.btn_cancel, .btn_cancel_only_this
{
    background-color: transparent;
    color: var(--dashboard-text);
    border: 1px solid var(--dashboard-stroke);
}

.btn_cancel:hover, .btn_cancel_only_this:hover
{
    background-color: rgba(255, 255, 255, 0.05);
}

.btn_confirm
{
    background-color: var(--color-warning-red);
    color: white;
}

.btn_confirm:hover
{
    background-color: #690000;
}

#tournament_popup .popup_container
{
    max-height: 80vh;
    overflow-y: auto;
}

#tournament_popup .popup_body
{
    width: 100%;
}

#tournament_popup .popup_large
{
    max-width: 45rem;
}

#tournament_popup .popup_scrollable
{
    margin-bottom: 2rem;
}

#tournament_popup .editor_header
{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--dashboard-text);
    text-align: left;
    font-weight: 600;
}

#tournament_popup .show_tour_id
{
    font-weight: normal;
}

#tournament_popup .header_row
{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#tournament_popup .header_row label
{
    color: var(--dashboard-text);
    font-size: 0.9rem;
    width: 10rem;
    flex-shrink: 0;
}

#tournament_popup .header_input
{
    color: var(--dashboard-text-s2);
    flex-grow: 1;
    padding: 0.5rem;
    width: auto;
}

#tournament_popup .header_checkbox
{
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

#tournament_popup .tier_row
{
    margin-top: 0.5rem;
    padding-top: 1rem;
    border-top: 1px dashed var(--dashboard-stroke);
}

#tournament_popup .select_input
{
    background-color: var(--dashboard-background-s2);
    color: var(--dashboard-text-s2);
    border: 1px solid var(--dashboard-stroke);
    cursor: pointer;
    width: 10rem;
    padding: .5rem;
}

#tournament_popup .select_input option
{
    background-color: var(--dashboard-background-s2);
    color: var(--dashboard-text-s2);
    padding: 0.5rem;
}

#tournament_popup .select_input:focus
{
    outline: none;
    border-color: var(--dashboard-text);
}

#tournament_popup .small_btn
{
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
    width: auto;
}

#tournament_popup .editor_container
{
    width: 100%;
    overflow-x: auto;
}

#tournament_popup .editor_table
{
    width: 100%;
    border-collapse: collapse;
    color: var(--dashboard-text);
    text-align: left;

}

#tournament_popup .editor_table th,
#tournament_popup .editor_table td
{
    padding: 0.75rem;
    border-bottom: 1px solid var(--dashboard-stroke);
    vertical-align: middle;
}

#tournament_popup .editor_table th
{
    font-weight: 600;
    color: var(--dashboard-text);
}

#tournament_popup .editor_input
{
    background-color: transparent;
    border: 1px solid var(--dashboard-stroke);
    color: var(--dashboard-text-s2);
    padding: 0.4rem;
    border-radius: 4px;
    width: 4rem;
    font-family: inherit;
}

#tournament_popup .editor_input:focus
{
    outline: none;
    border-color: var(--dashboard-text);
}

/* Visual difference for players who did not attend */
#tournament_popup .player_unattended
{
    opacity: 0.4;
    background-color: rgba(0, 0, 0, 0.2);
}

#tournament_popup .player_unattended td
{
    font-style: italic;
}

#tournament_popup .action_buttons
{
    display: flex;
    gap: 0.5rem;
}

#tournament_popup .action_btn
{
    border-radius: 100%;
}

#tournament_popup .action_btn:hover
{
    opacity: 100%;
}

#tournament_popup .action_btn img
{
    width: 1rem;
    height: 1rem;
}

#tournament_popup .add_player_form
{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px dashed var(--dashboard-stroke);
}

#tournament_popup .text_input
{
    flex-grow: 1;
    width: auto;
    padding: 0.6rem;
}

#tournament_popup #add_player_btn
{
    width: auto;
    white-space: nowrap;
}

#tournament_popup .popup_footer
{
    display: flex;
    flex-wrap: wrap;
}

#tournament_popup .popup_footer_row
{
    display: flex;
    width: 100%;
    gap: 1rem
}

#tournament_popup .btn_delete
{
    background-color: transparent;
    color: var(--color-warning-red);
    border: 1px solid var(--color-warning-red);
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

#tournament_popup .btn_delete:hover
{
    background-color: rgba(255, 76, 76, 0.1);
}

#tournament_popup .btn_delete:active
{
    transform: scale(0.97);
}

#tournament_events_popup .popup_header
{
    border-bottom: 1px solid var(--dashboard-stroke);
    padding-bottom: 1rem;
}

#tournament_events_popup .events_list
{
    
}

#content-calendar .calendar_container
{
    width: 100%;
    height: 45rem;
    overflow: auto;
}

#content-calendar .calendar
{
    width: 100%;
    height: 100%;
}

.universal_event_popup
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 20;
    justify-content: center;
    align-items: center;
}

.universal_event_popup.active
{
    display: flex;
}

#universal_event_popup .popup_content
{
    background: var(--color-onyx);
    padding: 2rem;
    border-radius: 12px;
    color: var(--dashboard-text);
    width: 90%;
    max-width: 450px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(243, 239, 245, 0.1);
}

/* Header */
#universal_event_popup .popup_title
{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid rgba(243, 239, 245, 0.1);
    text-align: center;
}

#universal_event_popup #event_view_mode p
{
    margin: 0.8rem 0;
    font-size: 1rem;
    color: var(--dashboard-text)
}

#universal_event_popup #event_view_mode .p_title
{
    color: var(--dashboard-text-s2);
}

#universal_event_popup #event_edit_mode label
{
    display: block;
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
    color: var(--dashboard-text);
    font-weight: 600;
}

#universal_event_popup .popup_input
{
    width: 100%;
    background: var(--dashboard-background-s2);
    color: var(--dashboard-text);
    border: 1px solid var(--dashboard-stroke);
    padding: 0.75rem;
    border-radius: 6px;
    margin-bottom: 1.2rem;
    font-family: inherit;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.2s;
    color-scheme: dark;
}

#universal_event_popup .popup_input:disabled
{
    color: var(--dashboard-text-s2);
    border: none;
    background: none;
    -webkit-appearance: none;    
    -moz-appearance: none;
    opacity: 100%;
    padding: 0;
}


#universal_event_popup .popup_input:focus
{
    outline: none;
    border-color: var(--dashboard-text);
    box-shadow: 0 0 0 2px rgba(114, 176, 29, 0.2);
}

#universal_event_popup .popup_footer
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(243, 239, 245, 0.1);
}

#universal_event_popup .popup_footer button
{
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: inherit;
}

#universal_event_popup .btn_delete
{
    background: transparent;
    color: var(--color-warning-red);
    border: 1px solid var(--color-warning-red);
    margin-right: auto; /* Pushes the button far left */
}

#universal_event_popup .btn_delete:hover
{
    background: var(--color-warning-red);
    color: var(--dashboard-text);
}

/* FullCalendar forces default link colors on the day numbers and day names. This small override forces them to use lavender-mist text color instead of ugly default blue.*/
.fc-col-header-cell-cushion, 
.fc-daygrid-day-number {
    color: var(--dashboard-text) !important;
    text-decoration: none;
}

.fc .fc-header-toolbar
{
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    text-transform: capitalize;
}

.fc-header-toolbar, .fc .fc-button {
    font-size: .8rem !important;
}

.fc td, .fc th {
    padding: .2rem;
}

.fc a.fc-event
{
    text-decoration: none;
    cursor: pointer;
}

.fc .fc-toolbar-chunk *
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    flex-wrap: wrap;
    gap: .2rem;
}

.fc .fc-next-button, .fc .fc-prev-button
{
    background-color: transparent;
    border: none;
    padding: .2rem .3rem;
    font-size: .8rem;
}

.fc .fc-next-button:hover, .fc .fc-prev-button:hover
{
    background-color: var(--dashboard-background-s3);
}

.fc .fc-button:focus
{
    border: none !important;
    box-shadow: none !important;
}

.fc .fc-next-button:active, .fc .fc-prev-button:active
{
    background-color: var(--dashboard-background-s4) !important; 
    border: none;
}

.fc-toolbar-title
{
    width: 15rem;
}

.fc-day:hover{
    background-color: var(--dashboard-background-s2);
}

.fc-event:hover
{
    background-color: var(--dashboard-background-s4);
}

@media (max-width:768px)
{
    .dashboard
    {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
    }

    .dashboard_navbar
    {
        grid-template-rows: auto auto;
        height: min-content;
    }

    .user_card .role_container
    {
        display: none;
    }

    .selector
    {
        grid-row: 2;
    }

    .selector li
    {
        width: auto;
    }

    .user_actions
    {
        top: 80%;
        left: auto;
        right: 0;
        bottom: auto;
        margin-bottom: 0;
    }

    .user_card .more_icon
    {
        position: relative;
    }

    .content
    {
        height: calc(100vh - 60px - 132px); /* 60px = footer size, 132px = header size */
    }

    #content-tournaments .tournament_card
    {
        grid-template-columns: 1rem minmax(0, 1fr) 6rem 2rem;
    }

    .fc-event-time
    {
        display: none;
    }

    .fc .fc-toolbar-chunk:nth-child(1)
    {
        display: none;
    }

    .fc .fc-toolbar-chunk:nth-child(2)
    {
        width: 100%;
    }

    .fc .fc-header-toolbar
    {
        justify-content: center;
    }

}