.title
{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    padding: 2rem 0rem;
}

.container
{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.card
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(90%, 70rem);
    background-color: var(--color-charcoal-blue);
    padding: 1rem;
}

.card:nth-child(odd)
{
    background-color: #232429;
}

.card:nth-child(even)
{
    background-color: #303238;
}

.card a
{
    text-decoration: underline;
}

.card.header
{
    font-size: 0.8rem;
    padding: .5rem 1rem;
    background-color: var(--color-lime-moss) !important;
    color: var(--color-lavender-mist) !important;
    font-weight: 700;
}

.card .name
{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    color: var(--color-lime-moss);
}

.card.header .name
{
    color: var(--color-lavender-mist);
}

.card .tier
{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
}

.card .date
{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    color: var(--color-lime-moss);
}

.card.header .date
{
    color: var(--color-lavender-mist);
}

.card .winner
{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
}

.card .winner a
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: .3rem;
}

.card .winner img
{
    width: 1rem;
    height: 1rem;
    border-radius: 25pt;
    margin-top: .1rem;
}