:root
{
    --color-onyx: #0D0A0B;
    --color-charcoal-blue: #303238;
    --color-lavender-mist: #F3EFF5;
    --color-lime-moss: #72B01D;
    --color-green: #3F7D20;
    --color-dark-green: #305120;
}

.title
{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    padding: 2rem 0rem;
}

.container
{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(90%, 70rem);
    background-color: var(--color-charcoal-blue);
    padding: 1rem;
    border-radius: 5pt;
}

.card .name
{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    color: var(--color-lime-moss);
}

.card .tier
{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
}

.card .date
{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    color: var(--color-lime-moss);
}

.card .winner
{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
}

.card .winner a
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: .3rem;
}

.card .winner img
{
    width: 1rem;
    height: 1rem;
    border-radius: 25pt;
    margin-top: .1rem;
}