@font-face 
{
    font-family: 'Lexend';
    src: url("../../fonts/Lexend/Lexend-VariableFont_wght.ttf");
}

:root {
    --footer700: #ce6c6c;
    --footer50: #141212;
    --footer100: #242020;
}

.footer_container
{
    display: flex;
    position: fixed;
    flex-direction: row;
    bottom: 0%;
    left: 0%;
    width: 100%;
    z-index: 200;
    font-size: 25px;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    color: #ffffff;
}

.footer_season_selector
{
    position: relative;
    background-color: var(--footer50);
    width: 260px;
    height: 0em;
    transition: 0.2s;
    flex-wrap: wrap;
    visibility: hidden;
    z-index: 210;
    border-radius: 5pt 5pt 0pt 0pt;
}

.footer_season_selector.show
{
    visibility: visible;
    height: 5.7em;
}

.footer_season_selector_single_season_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1.8em;
}

.footer_season_selector_single_season
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80%;
    cursor: pointer;
    width: 80%;
    border-radius: 0.3em;
}

.footer_season_selector_single_season a
{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.footer_season_selector_single_season:hover
{
    background-color: #3B3B3B;
}

.selector_single_season_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.1em;
    height: 100%;
    font-weight: 600;
}

.selector_single_season_icon img
{
    width: 1.2em;
    height: 1.2em;
    border-radius: 3pt;
}

.selector_single_season_name
{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 8em;
    height: 100%;
    font-size: 0.7em;
    font-weight: 600 ;
}

.footer_bar
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0px;
    align-items: center;
    background-color: var(--footer50);
    color: #ffffff;
    font-size: 25px;
    width: 100%;
    height: 2.4em;
    z-index: 290;
}

.footer_bar_button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.7em;
    height: 1.7em;
    border-radius: 5pt;
    transition: background-color 0.3s, opacity 0.3s;
    opacity: 80%;
    margin: 0px 2px;
    font-weight: 600;
    cursor: pointer;
}

.footer_bar_button img
{
    width: 1em;
    height: 1em;
}

.footer_bar_button:hover
{
    background-color: #3B3B3B;
    opacity: 100%;
}

.footer_bar_button.active
{
    background-color: #3B3B3B;
    opacity: 100%;
}


.footer_container_vertical
{
    top: 0%;
    height: 100%;
    width: 2.4em;
    flex-direction: column;
}

.footer_bar_vertical
{
    width: 2.4em;
    height: 100%;
    padding: 20px 0px;
    justify-content: flex-start;
    flex-direction: column;
}

.footer_contact_container
{
    width: 100%;
    height: 0em;
    z-index: 220;
    background-color: var(--footer50);
    visibility: hidden;
    transition: 0.2s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #cfcfcf00;
}

.footer_contact_container.show
{
    height: 2.4em;
    visibility: visible;
    color: #cfcfcf;
}

.footer_contact_mail
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    font-size: 0.6em;
}

.mail_link:hover {
    color: var(--footer700);
    text-decoration: underline;
}

@media (max-width:768px) 
{
    .footer_bar
    {
        justify-content: space-around;
    }

    .footer_contact_container.show
    {
        height: 4.8em;
    }

    .footer_contact_mail
    {
        height: 50%;
        width: 100%;
    }
}

@media (min-width: 2560px) 
{
  .footer_bar, .footer_contact_container, .footer_season_selector_single_season_container
  {
    font-size: 33px;
  }

  .footer_season_selector
  {
    width: 350px;
  }

  .footer_season_selector.show
  {
    height: 4.8em;
  }
}

@media (min-width: 3840px) 
{
  .footer_bar, .footer_contact_container, .footer_season_selector_single_season_container
  {
    font-size: 50px;
  }

  .footer_season_selector
  {
    width: 500px;
  }

  .footer_season_selector.show
  {
    height: 6.8em;
  }
}