ul, li {
    list-style-type: none;
    text-align: center;
}

.footer_logo_description
{
    display: none;
}

.footer_single_logo
{
    width: 100%;
    justify-content: center;
}

.footer_menu
{
    display: none;
}

.footer_logos
{
    width: 50%;
}

.author
{
    width: 50%;
    justify-content: center;
    text-align: center;
}