.header
{
    display: flex;
    height: 6.25rem;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0.625rem 0.625rem 0.625rem;
}

.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.875rem;
    font-weight: 600;
    width: 100%;
}

.title_subtext
{
    color: var(--main700);
}

.main
{
    margin-top: 3.125rem;
    display: flex;
    width: 100%;
    height: 43.75rem;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.events
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 17.188rem;
}

.events_container
{
    display: flex;
    width: 56.25rem;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.single_event
{
    display: flex;
    width: 15.625rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.event_status
{
    width: 100%;
    height: 2.188rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.event_main
{
    width: 100%;
    height: 14.375rem;
    border-radius: 0pt 0pt 0.938rem 0pt;
    cursor: pointer;
}

.event_image
{
    width: 100%;
    height: 8.125rem;
    overflow: hidden;
}

.event_image img
{
    width: 15.625rem;
    height: 8.125rem;
    opacity: 60%;
    transition: 0.3s ease-in-out;
}

.event_main:hover .event_image img
{
    opacity: 100%;
    transform: scale(1.1);
}

.event_details 
{
    margin-top: 0.625rem;
    width: 100%;
    height: 4.375rem;
    border-color: var(--main400);
    border-style: solid;
    border-width: 0rem 0.063rem 0.063rem 0rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 0rem 0.313rem 0rem;
    transition: 0.3s ease-in-out;
}

.event_main:hover .event_details
{
    border-color: var(--main700);
}

.event_title
{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    color: var(--gray400);
    text-align: left;
    transition: 0.3s ease-in-out;
}

.event_main:hover .event_title
{
    color: var(--gray900);
}

.event_date 
{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-end;
    font-size: 0.875rem;
}

.more
{
    display: flex;
    width: 100%;
    height: 25rem;
    justify-content: center;
    align-items: center;
}

.about_section
{
    display: flex;
    width: 37.5rem;
    height: 21.875rem;
    align-items: center;
    justify-content: center;
}

.about
{
    display: flex;
    width: 18.75rem;
    height: 21.875rem;
    flex-wrap: wrap;
}

.about_title
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 100%;
    height: 25%;
    font-size: 1.188rem;
    font-weight: 600;
}

.about_content
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 75%;
    text-align: justify;
}

.about_text
{
    padding: 0.313rem 0.625rem 0.625rem 0.625rem;
    border-color: var(--main700);
    border-style: solid;
    border-width: 0rem 0rem 0.063rem 0rem;
    font-size: 0.938rem;
    line-height: 1.438rem;
}

.about_text_title
{
    color: var(--main700);
    font-weight: 550;
}

.seasons
{
    display: flex;
    width: 18.75rem;
    height: 21.875rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.seasons_title
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 100%;
    height: 15%;
    font-size: 1.188rem;
    font-weight: 600;
}

.seasons_content
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 85%;
    text-align: justify;
}

.seasons_list
{
    list-style-type: none;
    font-size: 0.938rem;
}

.seasons_list li
{
    border-bottom: 0.125rem solid var(--gray500);
    margin-bottom: 0.313rem;
}

.seasons_list li:hover
{
    border-bottom: 0.125rem solid var(--main700);
}

.champion
{
    display: flex;
    width: 18.75rem;
    height: 21.875rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.champion_title 
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 100%;
    height: 15%;
    font-size: 1.188rem;
    font-weight: 600;
}

.champion_content 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
    text-align: justify;
    flex-wrap: wrap;
    cursor: pointer;
}

.champion_content a 
{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.champion_crown {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 70%;
    transition: 0.3s ease-in-out;
}

.champion_content:hover .champion_crown 
{
    opacity: 100%;
}

.champion_crown img 
{
    width: 3.125rem;
}

.champion_icon 
{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    opacity: 70%;
    transition: 0.3s ease-in-out;
}

.champion_content:hover .champion_icon 
{
    opacity: 100%;
}

.champion_icon img 
{
    height: 4.375rem;
    width: 4.375rem;
}

.champion_name 
{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    font-weight: 500;
    align-items: flex-start;
    padding-top: 0.625rem;
    color: var(--gray400);
}

.champion_content:hover .champion_name 
{
    color: var(--gray900);
}

.champion_name_text 
{
    border-bottom: 1px solid #00000000;
    transition: 0.3s ease-in-out;
}

.champion_content:hover .champion_name_text
{
    border-bottom: 1px solid var(--main700);
}

@media (max-width:768px) 
{
    .title
    {
        font-size: 25px;
    }

    .events_container
    {
        justify-content: space-evenly;
        width: 250px;
    }

    .more
    {
        flex-wrap: wrap;
    }

    .seasons
    {
        display: none;
    }

    .champion
    {
        margin-top: 60px;
    }

    .about
    {
        margin-bottom: 50px;
    }
}