:root
{
    --color-onyx: #0D0A0B;
    --color-charcoal-blue: #303238;
    --color-lavender-mist: #F3EFF5;
    --color-lime-moss: #72B01D;
    --color-green: #3F7D20;
    --color-dark-green: #305120;
    --legendary: #FF8000;
    --epic: #A335EE;
    --rare: #0070DD;
    --uncommon: #1EFF00;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar 
{
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
html 
{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html 
{
    scroll-behavior: smooth;
}

body
{
    padding-bottom: max(80px, 20vh);
}

.section_shadow 
{
    position: relative;
    z-index: 10;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 1), 
                0 10px 15px -3px rgba(114, 176, 29, 0.15);
    border-bottom: 1px solid rgba(114, 176, 29, 0.3);
}

header
{
    display: flex;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

header .spacer
{
    width: 100%;
    height: 20%;
}

header .title
{
    display: flex;
    flex-wrap: wrap;
    font-size: 5rem;
    font-weight: 700;
    height: min-content;
    width: 100%;
}

header .title * 
{
    display: flex;
    width: 100%;
    justify-content: center;
}

.title_top
{
    color: var(--color-lime-moss)
}

.buttons
{
    width: 100%;
    gap: 4rem;
}

.buttons_grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 50%;
    margin: 0 25%;

}

.button_standard
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
    gap: .6rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 2.4rem;
    width: 12rem;
    font-size: 1.1rem;
    border: 1px solid var(--color-lime-moss);
}

.button_standard img
{
    width: 1.1rem;
    height: 1.1rem;
}

.button_standard:hover
{
    scale: 1.2;
}

section
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
}

section .title
{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 7rem;
    width: 100%;
}

.cards_container
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    gap: 2rem;
}

.event_card
{
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    height: 15rem;
    background-color: var(--color-charcoal-blue);
    border-radius: 5pt;
    position: relative
}

.event_photo, .event_text
{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.event_photo img
{
    width: 100%;
    height: 100%;
    border-radius: 5pt 0pt 0pt 5pt;
}

.event_badge
{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-charcoal-blue);
    padding: 1rem 1rem 1rem 0rem;
    -webkit-box-shadow: 22px 8px 24px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 22px 8px 24px 0px rgba(0, 0, 0, 1);
    box-shadow: 22px 8px 24px 0px rgba(0, 0, 0, 1);
    border-radius: 0pt 10pt 0pt 5pt;
}

.event_banner_single_badge
{
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    padding: 0.2rem 0.4rem;
    border-radius: 10pt;
    transition: 0.3s;
    width: 5rem;
    z-index: 10;
}

.banner_s-tier 
{ 
    background: #e6b800; 
    background: linear-gradient(90deg, rgba(230, 184, 0, 1) 0%, rgba(255, 128, 0, 1) 100%); 
    box-shadow: 0px 0px 20px 10px rgb(212, 156, 0);
    animation: glowPulse 1.5s infinite alternate;
}

@keyframes glowPulse {
    0% 
    {
        box-shadow: 0px 0px 20px 0px rgb(212, 156, 0);
    }
    100% 
    {
        box-shadow: 0px 0px 40px 10px rgb(212, 156, 0);
    }
}

.banner_a-tier { background: #7c00cf; background: linear-gradient(90deg, rgba(124, 0, 207, 1) 0%, rgba(163, 53, 238, 1) 100%);}
.banner_b-tier { background-color: var(--rare); }

.event_text
{
    padding: 1rem 0rem;
}

.event_title, .event_details
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.event_title
{
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    color: var(--color-lime-moss);
    height: 70%;
}

.event_winner_title, .event_winner_name
{
    display: flex;
    width: 100%;
    justify-content: center;
}

.event_winner_title
{
    font-size: 0.8rem;
    color: #8d8d8d
}

.event_details a
{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    gap: .3rem;
}

.event_winner_name img
{
    margin-top: .4rem;
    width: 1rem;
    height: 1rem;
    border-radius: 25pt;
}


@media (max-width:768px)
{
    .buttons_grid
    {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}