/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar 
{
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
html 
{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html 
{
    scroll-behavior: smooth;
}

body
{
    padding-bottom: max(80px, 20vh);
}

.section_shadow 
{
    position: relative;
    z-index: 10;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 1), 
                0 10px 15px -3px rgba(114, 176, 29, 0.15);
    border-bottom: 1px solid rgba(114, 176, 29, 0.3);
}

header
{
    display: flex;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

header .spacer
{
    width: 100%;
    height: 20%;
}

header .title
{
    display: flex;
    flex-wrap: wrap;
    font-size: 5rem;
    font-weight: 700;
    height: min-content;
    width: 100%;
}

header .title * 
{
    display: flex;
    width: 100%;
    justify-content: center;
}

.title_top
{
    color: var(--color-lime-moss)
}

.buttons
{
    width: 100%;
    gap: 4rem;
}

.buttons_grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 50%;
    margin: 0 25%;

}

.button_standard
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
    gap: .6rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 2.4rem;
    width: 12rem;
    font-size: 1.1rem;
    border: 1px solid;
    border-color: var(--color-dark-green);
    opacity: 80%;
}

.button_standard img
{
    width: 1.1rem;
    height: 1.1rem;
}

.button_standard:hover
{
    border-color: var(--color-lime-moss);
    opacity: 100%;
}

section
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
}

section .title
{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 4rem;
    width: 100%;
}

.about_container
{
    width: 50%;
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 600;
}

.about_name
{

    font-weight: 700;
    color: var(--color-lime-moss);
}

.cards_container
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    gap: 2rem;
}

.event_card
{
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    height: 15rem;
    background-color: var(--color-charcoal-blue);
    border-radius: 5pt;
    position: relative
}

.event_spacer
{
    width: 30rem;
    height: 15rem;
}

.event_photo, .event_text
{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.event_photo img
{
    width: 100%;
    height: 100%;
    border-radius: 0pt 5pt 5pt 0pt;
}

.event_buttons
{
    position: absolute;
    bottom: 0;
    left: 17.5rem;
    padding: 1rem 1rem 1rem 0rem;
    border-radius: 0pt 10pt 0pt 5pt;
    z-index: 10;
}

.button_event
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
    gap: .6rem;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 2.4rem;
    width: 10rem;
    font-size: 1.1rem;
    background-color: var(--color-lime-moss);
    color: var(--color-charcoal-blue);
    -webkit-box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 1);
}

.button_event:hover
{
    scale: 1.1;
}

.event_text
{
    padding: 1rem 0rem;
}

.event_title, .event_details
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.event_title
{
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    color: var(--color-lime-moss);
    height: 70%;
}

.event_winner_title, .event_winner_name
{
    display: flex;
    width: 100%;
    justify-content: center;
}

.event_winner_title
{
    font-size: 0.8rem;
    color: #8d8d8d
}

.event_details a
{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    gap: .3rem;
}

.event_winner_name img
{
    margin-top: .4rem;
    width: 1rem;
    height: 1rem;
    border-radius: 25pt;
}

.events_see_all
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.tools .title
{
    margin-bottom: 0rem;
}

.tools_subtitle
{
    display: flex;
    justify-content: center;
    width: 60%;
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 4rem;
}

.tools_highlit
{
    font-weight: 700;
    color: var(--color-lime-moss);
}

.tools_container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 4rem;
}

.tools_card
{
    width: 24rem;
    height: 14rem;
    background-color: var(--color-charcoal-blue);
    border-radius: 5pt;
    -webkit-box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid var(--color-charcoal-blue);
}

.tools_card:hover
{
    transform: translateY(-20px);
    border-color: var(--color-lime-moss);
}

.tools_card_logo
{
    display: flex;
    padding: 1.5rem;
    width: 100%;
    height: 6rem;
}

.tools_card_logo img
{
    width: 3rem;
    height: 3rem;
}

.tools_card_name
{
    display: flex; 
    width: 100%;
    height: 3rem;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-lime-moss)
}

.tools_card_details
{
    display: flex; 
    width: 100%;
    height: 5rem;
    padding: 0rem 1.5rem;
}

@media (max-width:768px)
{
    .buttons_grid
    {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .button_standard
    {
        padding: 1rem 0rem;
        gap: .6rem;
        height: 3.6rem;
        width: 16rem;
        font-size: 1.4rem;
    }

    .about_container
    {
        width: 80%;
    }

    .cards_container
    {
        width: 95%;
    }
    
    .event_spacer
    {
        display: none;
    }
}