.header
{
    display: flex;
    height: 6.25rem;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0.625rem 0.625rem 0.625rem;
}

.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.875rem;
    font-weight: 600;
    width: 100%;
}

.title_subtext
{
    color: var(--main700);
}

.main
{
    margin-top: 3.125rem;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.events
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 17.188rem;
}

.events_container
{
    display: flex;
    width: 56.25rem;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.single_event
{
    display: flex;
    width: 15.625rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.event_status
{
    width: 100%;
    height: 2.188rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.event_main
{
    width: 100%;
    height: 14.375rem;
    border-radius: 0pt 0pt 0.938rem 0pt;
    cursor: pointer;
}

.event_image
{
    width: 100%;
    height: 8.125rem;
    overflow: hidden;
}

.event_image img
{
    width: 15.625rem;
    height: 8.125rem;
    opacity: 60%;
    transition: 0.3s ease-in-out;
}

.event_main:hover .event_image img
{
    opacity: 100%;
    transform: scale(1.1);
}

.event_details 
{
    margin-top: 0.625rem;
    width: 100%;
    height: 4.375rem;
    border-color: var(--main400);
    border-style: solid;
    border-width: 0rem 0.063rem 0.063rem 0rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 0rem 0.313rem 0rem;
    transition: 0.3s ease-in-out;
}

.event_main:hover .event_details
{
    border-color: var(--main700);
}

.event_title
{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    color: var(--gray400);
    text-align: left;
    transition: 0.3s ease-in-out;
}

.event_main:hover .event_title
{
    color: var(--gray900);
}

.event_date 
{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-end;
    font-size: 0.875rem;
}

.more
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.about_section
{
    display: flex;
    width: 75rem;
    align-items: center;
    justify-content: center;
}

.about
{
    display: flex;
    width: 40rem;
    flex-wrap: wrap;
}

.about_title
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 100%;
    height: 10%;
    font-size: 1.188rem;
    font-weight: 600;
}

.about_content
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 90%;
    text-align: justify;
}

.about_text
{
    padding: 0.313rem 0.625rem 0.625rem 0.625rem;
    border-color: var(--main700);
    border-style: solid;
    border-width: 0rem 0rem 0.063rem 0rem;
    font-size: 0.938rem;
    line-height: 1.438rem;
}

.about_text_title
{
    color: var(--main700);
    font-weight: 550;
}

.seasons
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.seasons a
{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1.5rem;
}

.seasons_single
{
    display: flex;
    width: 50rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2.6rem;
    font-weight: 700;
    color: var(--gray800);
}

.seasons_2024 { background-image: url("/img/home/seasons/s2024_panorama.webp"); }
.seasons_2025 { background-image: url("/img/home/seasons/s2025_panorama.webp"); }

.seasons_single_title
{
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.seasons_single_results
{
    visibility: hidden;
    opacity: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    height: 100%;
    transition: 0.4s;
}

.seasons_single:hover .seasons_single_title
{
    width: 40%;
}

.seasons_single:hover .seasons_single_results
{
    visibility: visible;
    opacity: 100%;
    width: 60%;
}

.seasons_single_player
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0rem 0.5rem;
}

.seasons_single_player_image
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.15s linear; 
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInXFade {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipOutXFade {
  from {
    opacity: 1;
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
  to {
    opacity: 0;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  }
}

/* Fade in with flip on hover, fade out fast on unhover */
.seasons_single:hover .seasons_single_player_image {
    animation: flipInXFade 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1); /* slow fade in */
}
.seasons_single:not(:hover) .seasons_single_player_image {
    animation: flipOutXFade 0.15s linear both;
    opacity: 0;
    transition: opacity 0.15s linear; /* fast fade out */
}

/* Staggered delays for each player image */
.seasons_single:hover .seasons_single_player:nth-child(1) .seasons_single_player_image {
    animation-delay: 0.2s;
}
.seasons_single:hover .seasons_single_player:nth-child(2) .seasons_single_player_image {
    animation-delay: 0.3s;
}
.seasons_single:hover .seasons_single_player:nth-child(3) .seasons_single_player_image {
    animation-delay: 0.4s;
}
.seasons_single:hover .seasons_single_player:nth-child(4) .seasons_single_player_image {
    animation-delay: 0.5s;
}
/* Add more if you have more players */

.seasons_single_player_image img
{
    width: 3rem;
    height: 3rem;
    border-radius: 25pt;
    border: 0.3rem solid black;
}

.first_place img { border-color: var(--gold300); }
.second_place img { border-color: var(--silver300); }
.third_place img { border-color: var(--brown300); }
.fourth_place img { border-color: var(--fourth300); }

@media (max-width:768px) 
{
    .title
    {
        font-size: 25px;
    }

    .events_container
    {
        justify-content: space-evenly;
        width: 250px;
    }

    .main
    {
        margin-bottom: 50px;
    }

    .about_section
    {
        width: 80%;
    }

    .seasons
    {
        display: none;
    }
}