main
{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 6rem 2rem 2rem 2rem;
}

.hidden
{
    transition: none;
}

.btn_secondary.btn_active
{
    background-color: var(--dashboard-background-s6);
}

.poll
{
    display: flex;
    flex-direction: column;
    width: min(100%, 60rem);
    gap: 1rem;
    color: var(--dashboard-text);
}

.poll img
{
    width: .9rem;
    height: .9rem;
}

.poll_action_menu
{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--dashboard-background-s4);
    border-radius: .5rem;
    margin-top: 1rem;
    border: 1px solid var(--dashboard-stroke);
    padding: 1rem;
    white-space: nowrap;
}

.poll_header
{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid var(--dashboard-stroke);
    padding-bottom: 1rem;
}

.poll_header_row
{
    display: flex;
    width: 100%;
}

.poll_name
{
    flex: 1;
    font-size: 1.75rem;
    font-weight: 700;
}

.poll_buttons
{
    display: inline-flex;
    gap: 1rem;
}

.poll_date
{
    color: var(--dashboard-text-s2);
}

.poll_date_relative
{
    color: var(--color-lime-moss);
}

.poll_labels_list_section
{
    position: relative;
}

.poll_labels_list_container
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 16rem;
    padding: .5rem;
    z-index: 10;
}

.poll_labels_list
{
    display: flex;
    flex-direction: column;
    height: 16rem;
    overflow: auto;
    width: 100%;
}

.labels_list_label
{
    display: flex;
    gap: .5rem;
    width: 100%;
    padding: .3rem .5rem;
    border-radius: .5rem;
    cursor: pointer;
}

.labels_list_label:hover
{
    background-color: var(--dashboard-background-s6);
}

.labels_list_label_hex
{
    flex: 0;
    padding-top: .3rem;
}

.labels_list_label_title
{
    flex: 1;
    overflow: hidden;
}

.labels_list_label_counter
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    flex: 0;
}

.labels_list_label_hex_dot
{
    width: .8rem;
    height: .8rem;
    border-radius: 100%;
}

.labels_list_label_description
{
    color: var(--dashboard-text-s2);
    font-weight: 400;
    font-size: .75rem;
}

.poll_labels_list_new
{
    display: flex;
    justify-self: flex-end;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    margin-top: .5rem;
    cursor: pointer;
    padding: .2rem .5rem;
    border-radius: .5rem;
    font-size: .9rem;
    background-color: var(--dashboard-background-s3);
}

.poll_labels_list_new:hover
{
    background-color: var(--dashboard-background-s5);
}

.poll_labels_list_new img
{
    width: .75rem;
    height: .75rem;
}