main
{
    padding: 10rem 0rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container
{
    display: inline;
    width: 50%;
    color: var(--color-lavender-mist);
}

.title
{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.date
{
    font-size: 1rem;
    border-bottom: 1px solid var(--color-lime-moss) ;
    padding-bottom: .5rem;
    margin-bottom: 1.5rem;
}

.header
{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
    color: var(--color-lime-moss);
}

.content
{
    margin-bottom: 2rem;
    text-align: justify;
}

.content ul
{
    margin: .5rem 2rem;
}

.content a
{
    color: var(--color-lime-moss);
    text-decoration: underline;
}

@media (max-width:768px)
{
    .container
    {
        width: 90%;
    }
}