main
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header
{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    height: 5rem;
    align-items: flex-start;
    background-color: var(--main800);
    z-index: 110;
}

.profile_not_specified
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    color: var(--gray900);
    margin-top: auto;
    font-size: 1.875rem;
    font-weight: 700;
}

.profile_searchbar
{
    display: flex;
    width: 18.75rem;
    justify-content: center;
    align-items: flex-start;
    height: max-content;
    flex-wrap: wrap;
    padding-top: 1.5625rem;
}

.searchbar_box
{
    width: 100%;
}

.searchBox
{
    display: flex;
    width: 100%;
    border: none;
    height: 1.875rem;
    border-radius: 5pt 5pt 5pt 5pt;
    padding-left: 0.4375rem;
    outline: none;
    font-size: 0.9375rem;
}

.search_results
{
    display: list-item;
    height: 6.875rem;
    width: 18.75rem;
    list-style-type: none;
    z-index: 100;
}

.search_results_line
{
    display: none;
    height: 0.125rem;
    width: 100%;
    justify-content: center;
    background-color: var(--gray900);
}

.search_results_line_color
{
    height: 100%;
    border-bottom: 0.125rem dotted var(--gray400);
    width: 15rem;
    display: flex;
}

.search_results li
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    align-self: flex-start;
    height: 1.875rem;
    background-color: var(--gray900);
    color: #000000;
    font-size: 0.9375rem;
    cursor: pointer;
}

.search_results li:hover
{
    background-color: var(--gray800);;
}

.search_results li:last-child
{
    border-radius: 0px 0px 5pt 5pt;
}

.search_results li:last-child .search_result_pfp
{
    border-radius: 0px 0px 0px 5pt;
}

.search_results li a
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.search_result_id
{
    margin-left: 0.625rem;
    font-size: 0.75rem;
    color: var(--gray400);
}

.search_result_pfp
{
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 0.625rem;
}

.profile_specified
{
    width: 43.75rem;
    height: min-content;
    display: none;
    justify-content: center;
    color: var(--gray900);
    flex-wrap: wrap;
    align-items: flex-start;
}

.profile_info
{
    background-color: var(--main200);
    width: 100%;
    height: 12.5rem;
    border-radius: 5pt;
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
    padding: 1.5625rem;
    flex-wrap: wrap;
}

.profile_pfp
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.25rem;
    height: 100%;
}

.profile_pfp img
{
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 15pt;
}

.profile_main_section 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31.25rem;
    height: 100%;
    flex-wrap: wrap;
}

.profile_name_section
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.75rem;
    height: 100%;
    flex-wrap: wrap;
}

.profile_name_box
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 6.25rem;
    flex-wrap: wrap;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.profile_displayed_name, .profile_displayed_id
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
}

.profile_displayed_name
{
    font-size: 1.5rem;
    font-weight: 700;
    height: 35%;
}

.profile_displayed_id
{
    height: 20%;
    font-size: 0.9375rem;
    align-items: flex-start;
    color: var(--gray500);
}

.profile_displayed_champion
{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: flex-end;
}

.profile_displayed_champion_badge
{
    display: none;
    justify-content: center;
    align-items: center;
    height: 1.375rem;
    width: 7.5rem;
    background-color: var(--gold400);
    border-radius: 5pt;
    font-weight: 600;
}

.profile_medals
{
    display: flex;
    align-items: center;
    width: 12.5rem;
    height: 100%;
    flex-wrap: wrap;
}

.profile_medals_box
{
    display: flex;
    width: 100%;
    height: 6.25rem;
}

.profile_single_medal
{
    width: 33%;
    height: 100%;
}

.profile_single_medal_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.profile_single_medal_icon img
{
    width: 3.125rem;
    height: 3.125rem;
}

.profile_single_medal_amount
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    font-weight: 600;
}

.seasons_details
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 1.25rem;
    padding-bottom: 9.375rem;
    margin-bottom: auto;
    flex-wrap: wrap;
}

.current_season
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: var(--main200);
    width: 15.625rem;
    height: 9.375rem;
    border-radius: 5pt;
    padding: 0.9375rem;
    margin-bottom: 1.25rem;
}

.current_season_name
{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.current_season_position_section
{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current_season_position, .current_season_points
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.current_season_position
{
    height: 100%;
    font-size: 2.1875rem;
    font-weight: 800;
    color: var(--fourth400);
}

.current_season_points
{
    height: 80%;
    flex-wrap: wrap;
}

.current_season_points_amount, .current_season_points_name
{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current_season_not_playing
{
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.seasons_list
{
    width: 28.125rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.single_season
{
    display: flex;
    width: 26.875rem;
    background-color: var(--main200);
    min-height: 3.125rem;
    margin-bottom: 1.25rem;
    font-size: 1.1875rem;
    font-weight: 500;
    flex-wrap: wrap;
}

.single_season_header
{
    display: flex;
    width: 100%;
    height: 3.125rem;
    padding-left: 0.625rem;
}

.single_season_year, .single_season_position, .single_season_points
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
}

.single_season_position
{
    color: var(--fourth400);
}

.single_season_points
{
    width: 20%;
}

.single_season_year
{
    width: 30%;
}

.single_season_ongoing
{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single_season_ongoing_icon
{
    display: none;
    justify-content: center;
    align-items: center;
    height: 1.375rem;
    width: 5rem;
    background-color: var(--main900);
    border-radius: 5pt;
    font-weight: 600;
    font-size: 0.75rem;
}

.single_season_expand
{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.single_season_expand img
{
    width: 0.9375rem;
    height: 0.625rem;
    transition: 0.1s ease-in-out;
}

.single_season_expand:hover
{
    background-color: var(--main250);
}

.single_season_details
{
    display: none;
    width: 100%;
    height: 6.25rem;
    flex-wrap: wrap;
}

.season_details_single_game
{
    display: flex;
    height: 100%;
    width: 25%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.season_details_single_game_title
{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0.1875rem;
    color: var(--main400);
}

.season_details_single_game_points
{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0.1875rem;
}