# For prod
# DATABASE_URL="postgresql://user:password@db/name"

# For dev
DATABASE_URL="postgresql://user:password@localhost:5432/name"

# For some reason (direct connection to prod from dev device)
# DATABASE_URL="postgresql://user:password@192.168.0.106:5432/name"

LOCAL_DB_USER="user"
LOCAL_DB_PASSWORD="password"
LOCAL_DB_NAME="name"

JWT_SECRET=""

TUNNEL_TOKEN=""
