Options +FollowSymLinks

RewriteEngine On

# Requests without extensions
RewriteCond %{REQUEST_URI} !\.[a-zA-Z0-9]{3,4}
RewriteCond %{REQUEST_URI} !\.(js|json)$
RewriteCond %{REQUEST_URI} !/$
RewriteRule ^(.*)$ $1.html [L]

