/* min-width:2560px */

#logo img
{
    width: 250px;
    height: 120px;
}

#title
{
    font-size: 50px;
}

#year
{
    font-size: 85px;
}

.player_name
{
    font-size: 35px;
}

.player_icon
{
    margin-bottom: 10px;
}

.player_icon img
{
    width: 110px;
    height: 110px;
    border-width: 8px;
}

#play_again_button
{
    width: 250px;
    height: 60px;
    font-size: 25px;
}

#ranking
{
    height: 600px;
}

#ranking_title
{
    font-size: 40px;
}

.ranking_table
{
    font-weight: 500;
    font-size: 30px;
}

.ranking_table td
{
    height: 50px;
}

.ranking_table th
{
    height: 85px;
}

.ranking_table .ranking_position
{
    width: 80px;
}

.ranking_table .ranking_player_header
{
    width: 380px;
}

.ranking_table .ranking_game img
{
    width: 34px;
    height: 34px;
    align-self: flex-end;
}

.ranking_game1,.ranking_game2,.ranking_game3,.ranking_game4
{
    padding-top: 8px;
}

.ranking_table .ranking_game
{
    width: 75px;
}

.ranking_table .ranking_total_header
{
    width: 95px;
}

#ranking_button
{
    font-size: 20px;
}

#results_title_content
{
    font-size: 40px;
}

#game1_no_details_icon img
{
    width: 65px;
    height: 65px;
}

#game1_no_details_text
{
    font-size: 25px;
    margin-top: 10px;
}

.game2_subgames_winner
{
    font-size: 25px;
}

#game3_group_stage_title, #game3_knockout_stage_title
{
    font-size: 23px;
}

#game3_group_stage 
{
    width: 40%;
    font-size: 23px;
}

#game3_knockout_stage 
{
    width: 40%;
}

.game3_match_title
{
    font-size: 23px;
}

.game3_match_results
{
    font-size: 23px;
}

.knockout_result
{
    width: 160px;
}