/* max-width:768px*/

#logo
{
    display: none;
}

#title
{
    font-size: 20px;
}

.player_name
{
    display: none;
}

.place
{
    width: 30%;
}

.player_icon img
{
    width: 65px;
    height: 65px;
}

#ranking_popup_container
{
    width: 250px;
    height: 370px;
}

#ranking_popup_title
{
    font-size: 20px;
    width: 180px;
}

.ranking_table .ranking_pts
{
    width: 90px;
}

.ranking_game
{
    display: none;
}

.ranking_game_result
{
    display: none;
}

.ranking_table .ranking_player_header
{
    width: 150px;
}

#games_selector
{
    height: 30vh;
}

.selector_photo
{
    height: 50%;
    width: 50%;
}

#results_details 
{
    height: 80%;
    width: 100%;
}

#game2_subgame_container
{
    width: 100%;
}

.game2_subgames_winner
{
    width: 100%;
    font-size: 80%;
}

#game2_subgame_container {
    height: 80%;
}

.game2_subgames_icon img
{
    width: 85%;
}

#game3_group_stage
{
    width: 100%;
    height: 50%;
}

#game3_group_stage_results
{
    display: none;
}

#game3_group_stage_title
{
    height: 20%;
}

#game3_group_stage_table
{
    height: 80%;
}

#game3_knockout_stage
{
    width: 100%;
    height: 50%;
}

#game3_knockout_stage_final
{
    height: 30%;
}

#game3_knockout_stage_mini_final
{
    height: 30%;
}

#game4_results_image_container
{
    width: 80%;
    height: auto;
}