*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: "Lexend", serif;
    /* font-optical-sizing: auto; */
    font-weight: normal;
    /* font-style: normal; */
    scroll-behavior: smooth;
    color: #000000;
}

body
{
    background-color: #eaf6ff;
}

a
{
    text-decoration: none;
    color:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#logo
{
    position: absolute;
    top: 10px;
    right: 10px;
}

#logo img
{
    width: 150px;
    height: 80px;
}

#header
{
    padding: 20px 10px 10px 10px;
    background-color: #eaf6ff;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header_container
{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: start;
}

#title
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6%;
    font-size: 30px;
    font-weight: 600;
    /* text-shadow: 1px 1px 3px #636363; */
    color: #0050c7
}

#year
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7%;
    font-size: 50px;
    font-weight: 600;
    color: #000000
}

#podium
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 65%;
    margin-top: 1%;
}

.place
{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 15%;
    height: 100%;
}

#platform_first, #platform_second, #platform_third
{
    width: 100%;
    background-color: #1d1d1d;
    transition: opacity 1s ease, transform 1s ease;
}

#platform_first
{
    height: 60%;
}

#platform_second
{
    height: 45%;
}

#platform_third
{
    height: 30%;
}

.platform_inside
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10%;
    height: 50%;
    font-size: 85px;
}

.number_first
{
    color: #c08300;
}

.number_second
{
    color: #ffffffa2;
}

.number_third
{
    color: #753e0a;
}

#player_first, #player_second, #player_third
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    transition: opacity 1s ease;
}

#player_first
{
    height: 40%;
}

#player_second
{
    height: 55%;
}

#player_third
{
    height: 70%;
}

.player_name
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    height: 40px;
}

.player_icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.player_icon img
{
    border: 5px solid black;
    border-radius: 20pc;
    width: 80px;
    height: 80px;
}

#player_border_first
{
    border-color: #c08300; 
}

#player_border_second
{
    border-color: #4b4b4ba2;    
}

#player_border_third
{
    border-color: #8a4d15;    
}

#buttons
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}

#play_again_button
{
    width: 160px;
    height: 40px;
    font-weight: 600;
    border-radius: 30px;
    transition: opacity 1s ease, color 0.6s ease, background-color 0.6s ease;
    color: #002e74;
    background-color: #ffffff;
    border: 4px solid #002e74;
    cursor: pointer;
}

#play_again_button:hover
{
    color: #ffffff;
    background-color: #003688;
    border: 4px solid #002e74;
}

#ranking
{
    background-color: #001a6e;
    height: 470px;
    padding: 40px 10px 10px 10px;
    color: #FFFFFF;
}

#ranking_title
{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    width: 100%;
    font-size: 30px;
    height: 10%;
    font-weight: 600;
}

#ranking_table_segment
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 90%;
    font-weight: 400;
    justify-self: center;
}

.ranking_table
{
    text-align: center;
    border-collapse: collapse;
    font-weight: 600;
    color: #ffffff;
    background-color: #353f77;
}

.ranking_table th
{
    background-color: #00163a;
    color: #ffffff;
    font-weight: 800;
}

.ranking_table tr
{
    height: 40px;
}

.ranking_table .ranking_position
{
    border: 0px;
    width: 60px;
}

.ranking_table .ranking_player_header
{
    width: 200px;
}

.ranking_table .ranking_player
{
    padding-left: 20px;
    text-align: left;
}

.ranking_table .ranking_game
{
    padding: 0px;
    transition: background-color 0.6s ease;
    cursor: pointer;
    width: 60px;
    opacity: 90%;
}

.ranking_game1,.ranking_game2,.ranking_game3,.ranking_game4
{
    padding-top: 4px;
    height: 100%;
    width: 100%;
}


.ranking_table .ranking_game:hover
{
    background-color: #2c3461;
    opacity: 100%;
}

.ranking_table .ranking_total_header
{
    width: 60px;
    font-weight: 800;
}

.ranking_table .ranking_total
{
    width: 60px;
    font-weight: 800;
}

.ranking_table .ranking_table_first_position
{
    background-color: #c08300;
    color: #ffffff; 
}

.ranking_table .ranking_table_second_position
{
    background-color: #8b8b8b;
    color: #ffffff;
}

.ranking_table .ranking_table_third_position
{
    background-color: #7c350c;
    color: #ffffff;
}

.ranking_table .ranking_table_fourth_position
{
    background-color: #8BA8B7;
    color: #ffffff;
}

.ranking_table .ranking_game img
{
    width: 26px;
    height: 26px;
    align-self: flex-end;
}

#ranking_description
{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 15px;
    width: 100%;
    font-size: 13px;
    height: 10%;
    text-decoration: underline;
}

#ranking_popup
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#ranking_popup_container 
{
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 350px;
    color: #000000;
    opacity: 100%;
    font-family: "Markazi Text", serif;
}

#ranking_popup_header
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}

#ranking_popup_title
{
    padding: 5px 0px 5px 30px;
    font-size: 30px;
    color: #000000;
    font-weight: 600;
    width: 330px;
    font-family: "Lexend", serif;
}

#ranking_popup_close_tab
{
    align-self: flex-start;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.close_tab
{
    width: 20px;
    height: 20px;
}

.ranking_popup_line
{
    width: 100%;
    height: 3px;
    margin: 10px 0px 10px 0px;
    border-bottom: 3px solid #000000;;
}

.ranking_popup_subline
{
    width: 100%;
    height: 3px;
    margin: 10px 0px 10px 0px;
    font-weight: 500;
}

.ranking_popup_subtitle
{
    font-size: 25px;
    color: #000000;
}

#ranking_button
{
    cursor: pointer;
}

.hidden {
    display: none;
}

#games
{
    background-color: #eaf6ff;
    min-height: 300px;
    color: #000000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Lexend", serif;
    font-weight: normal;
}

#games_selector
{
    width: 100%;
    height: 25vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.selector_photo
{
    width: 25%;
    height: 100%;
    background-color: #000000;
}

.selector_photo img
{
    width: 100%;
    height: 100%;
}

.game1, .game2, .game3, .game4
{
    cursor: pointer;
    transition: 0.5s ease;
    /* opacity: 60%; */
}

.game1:hover, .game2:hover, .game3:hover, .game4:hover
{
    opacity: 100%;
}

#games_results
{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 0.5s ease;
    flex-wrap: wrap;
    padding: 10px 10px 10px 10px;
}

#results_title
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 50px;
    width: 80%;
    font-size: 30px;
    font-weight: 600;
}

#results_details
{
    height: 80%;
    width: 80%;
}

.results_game1, .results_game2, .results_game3
{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0%;
    transition: 0.5s ease;
}

.results_game4
{
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0%;
    transition: 1.0s ease;
}

.results_game1
{
    justify-content: center;
    align-items: center;
}

#game1_details
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    height: 100px;
}

#game1_no_details_icon
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}

#game1_no_details_text
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}

#game1_no_details_icon img
{
    width: 50px;
    height: 50px;
}

.results_game2
{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#game2_subgame_container
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
    max-width: 700px;
}

.game2_subgames
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.game2_subgames_icon
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65%;
}

.game2_subgames_icon img
{
    border: 4px solid black;
    width: 75%;
    height: 100%;
    border-radius: 10pt;
}

.game2_subgames_winner
{
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    height: 30%;
    font-weight: 500;
}

.results_game3
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#game3_group_stage
{
    width: 50%;
    height: 100%;
}

#game3_group_stage_title, #game3_knockout_stage_title
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-size: 20px;
    font-weight: 500;
}

#game3_group_stage_table
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
}

.group_table
{
    border-collapse: collapse;
    color: #000000;
}

.group_table td
{
    text-align: center;
}

.group_table th
{
    text-align: center;

}

.group_table_position_header
{
    width: 50px;
}

.group_table_player
{
    width: 150px;
}

.group_table .group_table_player_name
{
    padding-left: 3px;
    text-align: left;
}

.group_table_pts_header
{
    width: 60px;
}

#game3_group_stage_results
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55%;
}

.group_results
{
    border-collapse: collapse;
}

.group_results_left
{
    margin-right: 5px;
    width: 120px;
    text-align: right;
}

.group_results_right
{
    margin-left: 5px;
    width: 120px;
    text-align: left;
}

.group_results_score
{
    text-align: center;
    width: 50px;
    font-weight: 600;
}

.group_results_round_end
{
    border-top: 1px solid black;
}

#game3_knockout_stage
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#game3_knockout_stage_matches
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
}

#game3_knockout_stage_final
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
}

#game3_knockout_stage_mini_final
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 20%
}

.game3_match_title
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    font-size: 18px;
}

.game3_match_results
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    font-size: 16px;
}

.knockout_results
{
    border-bottom: 2px solid #001a6e;
    border-top: 2px solid #001a6e;
    border-collapse: collapse;
}

.knockout_result
{
    margin-right: 5px;
    width: 120px;
    text-align: right;
    text-align: center;
    /* border: 1px solid #000000; */
}

.results_game4
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#game4_results_image_container
{
    width: 500px;
    height: 640px;
    border: 1px solid black
}

#game4_results_image_container img
{
    width: 100%;
    height: 100%;
}

#game4_results_text_container
{
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    height: 70px;
}

.game4_results_text_line
{
    width: 100%;
    height: 20px;
    text-decoration: solid;
    color: #000000;
    font-size: 13px;
    text-decoration: underline;
}

#game4_popup
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#game4_popup_container 
{
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: auto;
    height: 100vh;
    color: #000000;
}

#game4_poup_image
{
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#game4_image
{
    cursor: pointer;
}
    /* border: 1px solid black; */