:root {
    --color-warning-red: #b42525;
    --color-overlay: rgba(0, 0, 0, 0.7);

    --dashboard-background: oklch(0.04 0 129);
    --dashboard-background-s2: oklch(0.14 0 129);
    --dashboard-background-s3: oklch(0.18 0 129);
    --dashboard-background-s4: oklch(0.24 0 129);
    --dashboard-background-s5: oklch(0.30 0 129);
    --dashboard-background-s6: oklch(0.36 0 129);

    --dashboard-stroke: oklch(0.30 0 129);

    --dashboard-text: oklch(0.90 0 129);
    --dashboard-text-s2: oklch(0.60 0 129);
    --dashboard-text-s3: oklch(0.40 0 129);
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dashboard-text);
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dashboard-text);
}

h3 {
    font-size: 1.125rem;
    font-weight: normal;
    color: var(--dashboard-text);
}

/* Normal */
h4 {
    font-size: 1rem;
    font-weight: normal;
    color: var(--dashboard-text);
}

h5 {
    font-size: .875rem;
    font-weight: normal;
    color: var(--dashboard-text-s2);
}

h6 {
    font-size: .75rem;
    font-weight: normal;
    color: var(--dashboard-text-s3)
}

main
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

body
{
    min-height: 100vh;
    font-size: 1rem;
    font-weight: normal;
    color: var(--dashboard-text);
}

.header
{
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--dashboard-text);
    flex-wrap: wrap;
}

.btn_primary, .btn_secondary, .btn_tertiary
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0.6rem;
    border-radius: 8px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: opacity 0.2s ease, transform 0.1s ease;
    height: min-content;
    white-space: nowrap;
    gap: .2rem;
}

.btn_primary img, .btn_secondary img, .btn_tertiary img
{
    width: 0.9rem;
    height: 0.9rem;
}


.btn_primary:active, .btn_secondary:active, .btn_tertiary:active
{
    transform: scale(0.96);
}

.btn_primary
{
    background-color: var(--dashboard-text);
    color: var(--dashboard-background);
    border: 1px solid var(--dashboard-stroke);
}

.btn_primary:hover
{
    opacity: 0.8;
}

.btn_primary.disabled, .btn_secondary.disabled, .btn_tertiary.disabled
{
    transform: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.btn_secondary
{
    background-color: var(--dashboard-background-s4);
    color: var(--dashboard-text);
    border: 1px solid var(--dashboard-stroke);
}

.btn_secondary:hover
{
    background-color: var(--dashboard-background-s6);
}

.btn_tertiary
{
    background-color: var(--dashboard-background-s2);
    color: var(--dashboard-text);
    border: 1px solid var(--dashboard-stroke);
}

.btn_tertiary:hover
{
    background-color: var(--dashboard-background-s4);
}

.dashboard
{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20rem 1fr;
    flex-wrap: wrap;
    position: fixed;
}

.dashboard_navbar 
{
    background-color: var(--dashboard-background-s2);
    width: 100%;
    height: calc(100vh - 60px); /* 60px is the footer height */
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    border-right: 1px solid var(--dashboard-stroke);
}

.dashboard_navbar .title_section
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    margin: 2rem 1.5rem 1rem 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--dashboard-stroke);
}

.dashboard_navbar .title_text
{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
}

.dashboard_navbar .title_line:nth-child(1)
{
    color: var(--color-lime-moss)
}

.dashboard_navbar #logout_li
{
    display: none;
}

.selector
{
    padding: 0rem 2rem;
    width: auto;
    height: 100%;
}

.selector ul
{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: .5rem;
}

.selector li
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 1.3rem;
    gap: .7rem;
    font-size: 1.1rem;
    border-radius: 6px;
    padding: 1rem .5rem;
    cursor: pointer;
}

.selector li img
{
    width: 1rem;
    height: 1rem;
}

.selector li:hover
{
    background-color: var(--dashboard-background-s4);
    opacity: 100%;
}

.selector li.active
{
    background-color: var(--dashboard-background-s4);
    opacity: 100%;
}

.selector li .mobile_logout_btn
{
    display: none;
}

.user_card_container
{
    display: flex;
    height: 100%;
}

.user_card
{
    display: grid;
    padding: 1rem;
    width: 100%;
    background-color: var(--dashboard-background-s3);
    height: 6rem;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 100%;
    column-gap: 1rem;
}

.user_card .picture
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_card .picture img
{
    width: 3rem;
    height: 3rem;
    border-radius: 4rem;
}

.user_card .details
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.more_icon
{
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

.more_icon .more_button
{
    color: var(--dashboard-text-s2);
    cursor: pointer;
    transition: color .1s ease-in;
}

.more_icon button:hover
{
    color: var(--dashboard-text);
}

.action_menu
{
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-left: 1rem;
    z-index: 10;
    white-space: nowrap;
}

.action_menu.active
{
    display: flex;
}

.action_menu ul
{
    background-color: var(--dashboard-background-s2);
    border: 1px solid var(--dashboard-stroke);
    border-radius: 6px;
    padding: .5rem .5rem;
}

.action_menu li
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 1.3rem;
    gap: .7rem;
    border-radius: 6px;
    cursor: pointer;
    margin: .7rem 0;
    padding: .5rem;
}

.action_menu li:hover
{
    background-color: var(--dashboard-background-s4);
    opacity: 100%;
}

.action_menu li.active
{
    background-color: var(--dashboard-background-s4);
    opacity: 100%;
}

.action_menu li img
{
    width: .8rem;
    height: .8rem;
}

.content
{
    width: 100%;
    overflow: auto;
    height: calc(100vh - 60px);
    scrollbar-width: auto;
}

.tab_content
{
    display: none;
    width: 100%;
    padding: 2rem 2rem 10rem 2rem;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.tab_content.active
{
    display: flex;
}

.tab_content a
{
    text-decoration: underline;
}

.popup_overlay, .confirmation_popup
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-overlay);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.confirmation_popup
{
    z-index: 1000 !important;
}

.popup_overlay.active, .confirmation_popup.active
{
    opacity: 1;
    visibility: visible;
}

.popup_container
{
    background-color: var(--dashboard-background);
    color: var(--dashboard-text);
    width: 90%;
    max-width: 35rem;
    border-radius: 12px;
    padding: 2.5rem 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--dashboard-stroke);
    text-align: center;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow: hidden; 
    gap: 1rem;
    
    transform: translateY(-20px) scale(0.95);
    transition: transform 0.3s ease;
}

.popup_header
{
    display: flex;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--dashboard-stroke);
    flex-shrink: 0; /* Never shrink */
}

.popup_body
{
    flex: 1; /* Take all remaining space */
    min-height: 0;
    overflow-y: auto;
}

.popup_body p
{
    color: var(--dashboard-text);
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0;
}

.popup_body .highlight
{
    font-weight: 700;
    white-space: nowrap;
}

.popup_footer
{
    display: flex;
    width: 100%;
    padding-top: 1rem;
    border-top: 1px solid var(--dashboard-stroke);
    gap: 1rem;
    justify-content: center;
    align-self: flex-end;
    flex-shrink: 0; /* Never shrink */
}

.popup_tab
{
    display: none;
}

.popup_tab.active
{
    display: block;
}

.popup_overlay.active, .confirmation_popup.active .popup-container
{
    transform: translateY(0) scale(1);
}

.popup_icon
{
    color: var(--color-warning-red);
    margin: 0 auto 1.5rem auto;
}

.popup_icon img
{
    width: 4rem;
    height: 4rem;
}

.popup_tab_switch_section
{
    gap: 0;
}

.popup_tab_switch_btn
{
    background-color: var(--dashboard-background-s4);
    border: 1px solid var(--dashboard-stroke);
    padding: 0.5rem 0.5rem;
    min-width: 5rem;
    font-size: 1rem;
}

.popup_tab_switch_btn:first-child
{
    border-radius: 3px 0px 0px 3px;
}

.popup_tab_switch_btn:last-child
{
    border-radius: 0px 3px 3px 0px;
}

.popup_tab_switch_btn.active
{
    background-color: var(--dashboard-background-s6);
}

.popup_tab_switch_btn:hover
{
    background-color: var(--dashboard-background-s6);
}

.btn
{
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease, transform 0.1s ease;
    width: 100%;
    white-space: nowrap;
}

.btn:active
{
    transform: scale(0.97);
}

.btn_cancel, .btn_cancel_only_this
{
    background-color: transparent;
    color: var(--dashboard-text);
    border: 1px solid var(--dashboard-stroke);
}

.btn_cancel:hover, .btn_cancel_only_this:hover
{
    background-color: rgba(255, 255, 255, 0.05);
}

.btn_confirm
{
    background-color: var(--color-warning-red);
    color: white;
}

.btn_confirm:hover
{
    background-color: #690000;
}

@media (max-width:768px)
{
    .dashboard
    {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
    }

    .dashboard_navbar
    {
        display: flex;
        flex-direction: row-reverse;
        height: min-content;
        justify-content: center;
    }

    .dashboard_navbar .title_section
    {
        display: none;
    }

    .dashboard_navbar .selector
    {
        padding: 1rem;
    }

    .dashboard_navbar #logout_li
    {
        display: block;
    }

    .user_card
    {
        display: none;
    }

    .selector
    {
        grid-row: 2;
    }

    .selector li
    {
        width: auto;
    }

    .selector li .mobile_logout_btn
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: .7rem;
        color: #B52526;
    }

    .selector li img
    {
        width: 1.5rem;
        height: 1.5rem;
    }

    .user_actions
    {
        top: 80%;
        left: auto;
        right: 0;
        bottom: auto;
        margin-bottom: 0;
    }

    .user_card .more_icon
    {
        position: relative;
    }

    .content
    {
        height: calc(100vh - 60px - 44px); /* 60px = footer size, 44px = header size */
    }

}