body
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title
{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    padding: 2rem 0rem;
}

.container
{
    display: flex;
    width: min(90vw, 40rem);
    flex-wrap: wrap;
    gap: 2rem;
}

.disclaimer
{
    display: flex;
    justify-content: center;
    color: #646464;
    width: 100%;
    padding: 1rem 0rem;
}

.explainer
{
    display: flex;
    justify-content: center;
    color: #646464;
    width: 100%;
    padding: 1rem 0rem;
}

.leaderboard
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 0rem;
}

.player
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-charcoal-blue);
    padding: 1rem;
}

.player:nth-child(odd)
{
    background-color: #232429;
}

.player:nth-child(even)
{
    background-color: #303238;
}

.player.header
{
    background-color: var(--color-lime-moss);
    color: var(--color-lavender-mist);
    font-weight: 700;
}

.player .name
{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;

}

.player .name a
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: .3rem;
    text-decoration: underline;
}

.player .name img
{
    width: 1rem;
    height: 1rem;
    border-radius: 25pt;
    margin-top: .1rem;
}

.player .major
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    height: 100%;
}

.player .minor
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    height: 100%;
}

.player .ranking
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    height: 100%;
    color: var(--color-lime-moss);
    font-weight: 700;
}

.header .ranking
{
    color: var(--color-lavender-mist) !important;
}
