.player_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding-top: 50px;
}

.player_banner
{
    width: 100%;
    height: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("url_of_image");
    font-size: 4rem;
    font-weight: 600;
    position: relative;
}

.player_banner_name
{
    filter: brightness(100%)
}

.player_banner_damidami2 { background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/players/pfp/damidami2.webp'); }
.player_banner_kostys { background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/players/pfp/kostys.webp'); }
.player_banner_harnas { background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/players/pfp/harnas.webp'); }
.player_banner_kukula { background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/players/pfp/kukula.webp'); }

.player_banner_badges
{
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1rem;
    font-size: 1rem;
    justify-content: center;
    height: 2.5rem;
    align-items: center;
}

.player_banner_single_badge
{
    margin-left: 1rem;
    padding: 0.2rem 0.4rem;
    border-radius: 10pt;
    transition: 0.3s;
    cursor: pointer;
}

.player_banner_single_badge:hover
{
    scale: 1.1;
}


.banner_s-tier 
{ 
    background: #e6b800; 
    background: linear-gradient(90deg, rgba(230, 184, 0, 1) 0%, rgba(255, 128, 0, 1) 100%); 
    box-shadow: 0px 0px 20px 10px rgb(212, 156, 0);
    animation: glowPulse 1.5s infinite alternate;
}

@keyframes glowPulse {
    0% 
    {
        box-shadow: 0px 0px 20px 0px rgb(212, 156, 0);
    }
    100% 
    {
        box-shadow: 0px 0px 40px 10px rgb(212, 156, 0);
    }
}

.banner_a-tier { background: #7c00cf; background: linear-gradient(90deg, rgba(124, 0, 207, 1) 0%, rgba(163, 53, 238, 1) 100%);}
.banner_b-tier { background-color: var(--rare); }

.player_details
{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-weight: 700;
    width: 100%;
}

.player_details.hidden
{
    height: 0rem;
    visibility: hidden;
    opacity: 0%;
}

.player_details.visible
{
    height: 2rem;
    visibility: visible;
    opacity: 100%;
}

.player_details.s-tier { background-color: var(--legendary); }
.player_details.a-tier { background-color: var(--epic); }
.player_details.b-tier { background-color: var(--rare); }

.player_details_scroller {
    display: flex;
    align-items: center;

    overflow: hidden;
    position: relative;
    height: 2rem;
    box-sizing: border-box;
}

.player_details_scroller_inner {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: scroll-left-right 12s linear infinite alternate;
    padding: 0; 
    justify-content: flex-start; 
    width: auto; 
}

@keyframes scroll-left-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * var(--scroll-distance, 0px)));
    }
}

.player_details_tournament
{
    margin: 0rem 0.7rem;
    height: 2rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
}

.player_header
{
    width: 100%;
    height: 2rem;
    margin-top: 40px;
    background-color: var(--main800);
    border-radius: 0pt 0pt 1.2rem 1.2rem;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.player_header_title
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-weight: 600;
    border: 2px solid var(--main100);
}

.player_tournaments
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
}

.player_torunaments_splitted
{
    width: 50%;
}

.player_single_tournament
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    color: black;
    flex-wrap: wrap;
    border-radius: 15pt;
    overflow: hidden;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.player_single_tournament_title
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    font-weight: 600;
    width: 100%;
}

.player_single_tournament_stats
{
    min-height: 12rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.player_single_tournament_stats_header
{
    display: flex;
    flex-wrap: wrap;
    height: 4rem;
    width: 100%;
}

.player_single_tournament_stats_position, .player_single_tournament_stats_points
{
    display: flex;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.player_single_tournament_stats_position
{
    width: 80%;
    padding-left: 2rem;
    font-weight: 700;
}

.player_single_tournament_stats_points
{
    width: 20%;
    justify-content: flex-end;
}

.player_single_tournament_stats_position
{
    font-size: 2rem;
}

.player_single_tournament_stats_points_number, .player_single_tournament_stats_points_title
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.player_single_tournament_stats_points_number
{
    align-items: flex-end;
}

.player_single_tournament_stats_details
{
    display: flex;
    width: 100%;
    padding: 0.5rem 2rem 0rem 2rem;
}

.player_single_tournament_stats_details ul
{
    list-style-type: none;
    width: 50%;
}

.player_single_tournament_stats_details ul li
{
    margin-bottom: 8px;
}

.player_single_tournament_stats_details ul li img
{
    width: 0.9rem;
    height: 0.9rem;
}

.player_single_tournament_stats_logo
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.player_single_tournament_stats_logo img
{
    width: 4rem;
    height: 4rem;
}

.player_mobile_header
{
    display: none;
    width: 100%;
    height: 2rem;
    margin-top: 40px;
    background-color: var(--main800);
    border-radius: 0pt 0pt 1.2rem 1.2rem;
    color: #fff;
    flex-wrap: wrap;
    font-size: 1.2rem;
    margin-bottom: 40px;
}

#tournament_header_mobile
{
    width: 100%;
}

@media (max-width:768px) 
{

    .player_container
    {
        width: 100%;
    }

    .player_mobile_header
    {
        display: flex;
    }
    
    .player_torunaments_splitted
    {
        width: 100%;
    }

    .player_single_tournament
    {
        width: 80%;
    }

    #tournament_header_major
    {
        width: 100%;
    }

    #tournament_header_minor
    {
        display: none;
    }
}