:root
{
    --legendary: #FF8000;
    --epic: #A335EE;
    --rare: #0070DD;
    --uncommon: #1EFF00;
}

.player_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding-top: 50px;
}

.player_banner
{
    width: 100%;
    height: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("url_of_image");
    font-size: 4rem;
    font-weight: 600;
    position: relative;
}

.player_banner_name
{
    filter: brightness(100%)
}

.player_banner_damidami2 { background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/players/pfp/damidami2.webp'); }
.player_banner_kostys { background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/players/pfp/kostys.webp'); }
.player_banner_harnas { background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/players/pfp/harnas.webp'); }
.player_banner_kukula { background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/players/pfp/kukula.webp'); }

.player_banner_badges
{
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1rem;
    font-size: 1rem;
    justify-content: center;
    height: 2.5rem;
    align-items: center;
}

.player_banner_single_badge
{
    margin-left: 1rem;
    padding: 0.2rem 0.4rem;
    border-radius: 10pt;
    transition: 0.3s;
    cursor: pointer;
}

.player_banner_single_badge:hover
{
    scale: 1.1;
}


.banner_s-tier 
{ 
    background: #e6b800; 
    background: linear-gradient(90deg, rgba(230, 184, 0, 1) 0%, rgba(255, 128, 0, 1) 100%); 
    box-shadow: 0px 0px 20px 10px rgb(212, 156, 0);
    animation: glowPulse 1.5s infinite alternate;
}

@keyframes glowPulse {
    0% 
    {
        box-shadow: 0px 0px 20px 0px rgb(212, 156, 0);
    }
    100% 
    {
        box-shadow: 0px 0px 40px 10px rgb(212, 156, 0);
    }
}

.banner_a-tier { background: #7c00cf; background: linear-gradient(90deg, rgba(124, 0, 207, 1) 0%, rgba(163, 53, 238, 1) 100%);}
.banner_b-tier { background-color: var(--rare); }

.player_details
{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-weight: 700;
    width: 100%;
}

/* Overwrite hidden class from base.css */
.hidden 
{
    opacity: 0;
    filter: blur(3px);
    transform: translateY(0);
}

.show
{
    opacity: 100%;
    filter: blur(0);
    transform: translateY(0);
}

.player_details.hidden
{
    height: 0rem;
    visibility: hidden;
}

.player_details.visible
{
    height: 2rem;
    visibility: visible;
}

.player_details.s-tier { background-color: var(--legendary); }
.player_details.a-tier { background-color: var(--epic); }
.player_details.b-tier { background-color: var(--rare); }

.player_details_scroller {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 2rem;
    box-sizing: border-box;
}

.player_details_scroller_inner {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: scroll-left-right 12s linear infinite alternate;
    padding: 0; 
    justify-content: flex-start; 
    width: auto; 
}

@keyframes scroll-left-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * var(--scroll-distance, 0px)));
    }
}

.player_details_tournament
{
    margin: 0rem 0.7rem;
    height: 2rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
}

.player_grid
{
    display: grid;
    grid-template-columns: 8fr 2fr;
    width: 100%;
}

.player_tournaments
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    padding-right: 1rem;
}

.card
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.card.header
{
    font-size: 0.8rem;
    padding: .5rem 1rem;
    background-color: var(--color-lime-moss) !important;
    color: var(--color-lavender-mist) !important;
    font-weight: 700;
}

.card:nth-child(odd)
{
    background-color: #232429;
}

.card:nth-child(even)
{
    background-color: #303238;
}

.card .name
{
    display: flex;
    align-items: center;
    width: 45%;
    height: 100%;
    color: var(--color-lime-moss);
    justify-content: flex-start;
}

.card.header .name
{
    color: var(--color-lavender-mist);
}

.card .position
{
    display: flex;
    align-items: center;
    width: 15%;
    height: 100%;
    justify-content: center;
}


.card .tier
{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    justify-content: flex-start;
}

.card .date
{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    color: var(--color-lime-moss);
    justify-content: flex-start;
}

.card.header .date
{
    color: var(--color-lavender-mist);
}

.player_stats_container
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    padding-left: 1rem;
}

.stats
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--color-charcoal-blue);
    height: min-content;
    gap: .5rem;
    padding-bottom: 1rem;
}

.stats_single_stat
{
    display: flex;
    width: 100%;
    font-size: 1rem;
    padding: 0rem 1rem;
}

.stats_single_stat.header
{
    background-color: var(--color-lime-moss);
    padding: .3rem 1rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 1rem;
}

.single_stat_name
{
    width: 70%;
    color: var(--color-lime-moss);
}

.single_stat_value
{
    width: 30%;
}

@media (max-width:768px) 
{

    .player_container
    {
        width: 100%;
    }

    .player_mobile_header
    {
        display: flex;
    }
}