/* min-width:2560px */

html 
{ 
    font-size: 24px; 
}

.catan_interactive_map
{
    width: 400px;
    height: 400px;
}

.catan_hexagon, .catan_hexagon_2
{
    height: 105px;
}

.catan_interactive_map_container
{
    width: 580px;
    height: 520px;
}

.catan_hexagon_number
{
    height: 43px;
    width: 43px;
    font-size: 30px;
}

.catan_popup, .catan_popup_2
{
    width: 300px;
    height: 135px;
}

.catan_popup_close
{
    width: 30px;
    height: 30px;
}

.catan_popup_resource
{
    font-size: 30px;
}

.catan_popup_stats
{
    font-size: 21px;
}

.catan_map_footer
{
    font-size: 24px;
}

.round_title
{
    margin-bottom: 10px;
}

.round
{
    margin-bottom: 80px;
}