/* min-width:2560px */

html 
{ 
    font-size: 24px; 
}

.logo img
{
    width: 250px;
    height: 120px;
}

.title
{
    font-size: 50px;
}

.year
{
    font-size: 85px;
}

.timeline_date
{
    font-size: 25px;
}

.timeline_game
{
    height: 80%;
    font-size: 29px;
}