/* max-width:768px*/

.logo
{
    display: none;
}

.timeline_game
{
    width: 2%;
    padding-top: 10px;
}

.timeline_icon
{
    height: 100%;
}

.timeline_date
{
    width: 20%;
    padding-right: 30px;
}

.timeline_wide
{
    width: 20%;
    cursor: default;
}

.timeline_name
{
    display: none;
}

.format_video_player
{
    width: 320px;
    height: 180px;
}

.ranking
{
    height: 440px;
}

.ranking_popup_container
{
    width: 250px;
    height: 370px;
}

.ranking_popup_title
{
    font-size: 20px;
    width: 180px;
}

.ranking_table .ranking_pts
{
    width: 90px;
}

.ranking_game
{
    display: none;
}

.ranking_game_result
{
    display: none;
}

.ranking_table .ranking_player_header
{
    width: 150px;
}

.ranking_button_section
{
    display: none;
}


@keyframes appearFromLeft {
    from {
        opacity: 0;
        scale: 0%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

@keyframes appearFromRight {
    from {
        opacity: 0;
        scale: 0%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

.games_single_game, .games_single_game_reversed
{
    width: max(80%, 320px);
    height: auto;
}

.games_single_game_image, .games_single_game_image_reversed
{
    display: none;
}

.games_single_game_details
{
   width: 80%;
   height: auto;
}

.games_single_game_title, .games_single_game_results
{
    height: 23px;
}

.games_single_game_description
{
    height: auto;
}

.catan_map
{
    height: 500px;
}

.catan_map_title
{
    font-size: 25px;
}

.catan_map_subtitle
{
    height: 35%;
}

.catan_map_reason, .catan_map_disclaimer
{
    width: 90%;
    font-size: 13px;
}

.catan_interactive_map
{
    width: 200px;
    height: 200px;
}

.catan_hexagon 
{
    height: 55px;
}

.catan_interactive_map_container
{
    width: 300px;
    height: 250px;
}

.catan_hexagon_number
{
    height: 20px;
    width: 20px;
    font-size: 14px;
}

.catan_map_footer
{
    font-size: 10px;
}