@font-face 
{
    font-family: 'Markazi Text';
    src: url("../../fonts/Markazi_Text/MarkaziText-VariableFont_wght.ttf");
}

@font-face 
{
    font-family: 'Lexend';
    src: url("../../fonts/Lexend/Lexend-VariableFont_wght.ttf");
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: "Lexend", serif;
    font-weight: normal;
    scroll-behavior: smooth;
    color: #000000;
    font-size: 16px;
}

body
{
    background-color: #251706;
}

a {
    text-decoration: none;
    color: inherit;
}

.clickable
{
    cursor: pointer;
}

.invisible
{
    opacity: 0%;
}

.logo
{
    position: absolute;
    top: 10px;
    right: 10px;
}

.logo img
{
    width: 150px;
    height: 80px;
}

.header
{
    padding: 20px 10px 10px 10px;
    background-color: #ffffea;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header_container
{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: start;
}

.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    font-size: 30px;
    font-weight: 600;
    /* text-shadow: 1px 1px 3px .636363; */
    color: #cf7c00;
}

.year
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    font-size: 50px;
    font-weight: 600;
    color: #000000
}

.tba
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 87%;
    font-size: 40px;
    text-align: center;
}

.timeline 
{
    position: relative;
    width: 700px;
    margin: 2rem auto;
    padding: 2rem 0;
}
  
.timeline::before 
{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px; /* thicker for visibility */
    height: 100%;
    background-color: #cf7c00;
    z-index: 0; /* behind dots */
}
  
.timeline-event 
{
    position: relative;
    width: 100%;
    margin-bottom: 2.5rem;
}
  
.timeline-dot 
{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 2px solid white;
    background: #cf7c00;
    z-index: 2; /* above line */
}

.timeline-dot.current
{

    box-shadow: 0 0 0 2px #cf7c00;
}
  
.timeline-content 
{
    position: relative;
    width: 45%;
    border-radius: 8px;
    z-index: 1;

}
  
.timeline-event.left .timeline-content 
{
    margin-left: 0;
    margin-right: auto;
    text-align: right;
}
  
.timeline-event.right .timeline-content 
{
    margin-right: 0;
    margin-left: auto;
    text-align: left;
}
  
.timeline-content h3 
{
    margin: 0;
    font-size: 1.2rem;
}
  
.timeline-content span 
{
    font-size: 0.9rem;
    color: gray;
}
  
.timeline-content p 
{
    margin-top: 0.5rem;
}

.main
{
    background-color: #251706;
    color: #fff;
    margin-bottom: 80px;
}

.main_title_text
{
    font-size: 30px;
    border-left: 10px solid #FAE577;
    padding-left: 10px ;
    font-weight: 700;
}

.format
{
    width: 100%;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.format_title
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    height: 80px;
}

.format_title_text
{
    border-left: 10px solid #FAE577;
    padding-left: 10px ;
}

.format_video
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 100%;
}

.format_video_player
{
    width: 480px;
    height: 270px;
}

.fromat_details
{
    height: 40px;
}

.format_details_button
{
    width: 150px;
    height: 40px;
    background-color: #251706;
    color: #adadad;
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: all 0.3s;
    border: 1px solid #464646;
    cursor: pointer;
    display: flex;
    border-radius: 5pt;
}

.format_details_button:hover
{
    color: #fff;
    border: 1px solid #ffffff;
}

.format_details_button:hover .format_details_button_icon img
{
    opacity: 100%;
}

.format_details_button_text
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}

.format_details_button_icon 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

.format_details_button_icon img
{
    opacity: 70%;
    width: 15px;
    height: 15px;
    transition: all 0.3s;
}

.ranking
{
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.ranking_title
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 100%;
    height: 80px;
}

.ranking_table_segment
{
    display: flex;
    justify-content: center;
    width: 90%;
    font-weight: 400;
    justify-self: center;
}

.ranking_table
{
    text-align: center;
    border-collapse: collapse;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
}

.ranking_table th
{
    color: #ffffff;
    font-weight: 800;
}

.ranking_table tr
{
    height: 40px;
}

.ranking_table .ranking_table_standard
{
    background-color: #F4F5E9;
    color: #000000;
    border-top: 10px solid #251706;
    border-bottom: 10px solid #251706;
    height: 50px;
}

.ranking_table .ranking_table_position
{
    font-size: 20px;
    font-weight: 700;
    width: 60px;
    text-align: center;
}

.ranking_table .ranking_player_header
{
    width: 160px;
}

.ranking_table .ranking_player
{
    text-align: left;
}

.ranking_table .ranking_game
{
    padding: 0px;
    transition: background-color 0.6s ease;
    width: 60px;
    opacity: 80%;
}

.ranking_game1,.ranking_game2,.ranking_game3,.ranking_game4
{
    padding-top: 4px;
    height: 100%;
}

.ranking_game_clickable:hover
{
    opacity: 100%;
    cursor: pointer;
}

.ranking_table .ranking_total_header
{
    width: 60px;
    font-weight: 800;
}

.ranking_table .ranking_total
{
    width: 60px;
    font-weight: 800;
}

.ranking_table .ranking_table_first_position
{
    color: #c08300;
}

.ranking_table .ranking_table_second_position
{
    color: #8b8b8b;
}

.ranking_table .ranking_table_third_position
{
    color: #7c350c;
}

.ranking_table .ranking_table_fourth_position
{
    color: #8BA8B7;
}

.ranking_table .ranking_game img
{
    width: 26px;
    height: 26px;
    align-self: flex-end;
}

.close_tab
{
    width: 20px;
    height: 20px;
}

.ranking_popup_line
{
    width: 100%;
    height: 3px;
    margin: 10px 0px 10px 0px;
    border-bottom: 3px solid .000000;;
}

.ranking_popup_subline
{
    width: 100%;
    height: 3px;
    margin: 10px 0px 10px 0px;
    font-weight: 500;
}

.ranking_popup_subtitle
{
    font-size: 25px;
    color: #000000;
}

.ranking_button
{
    cursor: pointer;
}

.hidden {
    display: none;
}

.games
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.games_title
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

@keyframes appearFromLeft {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appearFromRight {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.games_list
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
    padding-bottom: 20px;
}

.games_single_game
{
    display: flex;
    width: 100%;
    height: 150px;
    margin: 40px 0px;
    animation: appearFromLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
    justify-content: center;
}

.games_single_game_reversed
{
    display: flex;
    width: 100%;
    height: 150px;
    margin: 40px 0px;
    flex-direction: row-reverse;
    animation: appearFromRight linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
    justify-content: center;
}

.games_single_game_image
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 100%;
    margin-right: 20px;
}

.games_single_game_image_reversed
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 100%;
    margin-left: 20px;
}

.games_single_game_image img, .games_single_game_image_reversed img
{
    width: 280px;
    height: 150px;
}

.games_single_game_details
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    flex-wrap: wrap;
}

.games_single_game_title
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 15%;
    font-weight: 700;
    color: #ffe6be;
    font-size: 16px;
}

.text_reversed
{
    justify-content: flex-end;
}

.games_single_game_description
{
    width: 100%;
    height: 70%;
    text-align: justify;
    font-size: 12px;
    display: flex;
    align-items: stretch;
}

.games_single_game_results
{
    width: 100%;
    height: 15%;
    color: #ffe6be;
    font-size: 12px;
    text-decoration: underline;
    display: flex;
    align-items: flex-end;
}

.games_single_game_results a
{
    opacity: 70%;
}

.games_single_game_results a:hover
{
    opacity: 100%;
}

.catan_map
{
    width: 100%;
    height: 700px;
    padding: 20px 10px 20px 10px;
    /* background-color: #cf7c00; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #ffffea;
    color: #000000;
}

.catan_map_title
{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
}

.catan_map_subtitle
{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 700;
}

.catan_map_reason, .catan_map_disclaimer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 51%;
    text-align: center;
}

.catan_map_disclaimer
{
    font-size: 16px;
}

.catan_interactive_map_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 450px;
    height: 400px;
    font-weight: 500;
    background-image: url(../../img/2025/games/catan_icons/normalBackground.webp);
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/2025/games/catan_icons/normalBackground.webp'); */
    background-size: cover;
    background-position: center;
}

.catan_interactive_map
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    font-weight: 500;
}

.catan_interactive_map_row
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.catan_hexagon 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; /* adjust to control the size  */
    aspect-ratio: cos(30deg);
    clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
    background: #3B8686;
    color: #ffefb1;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    z-index: 10;
}

.catan_hexagon_forest
{
    background-image: url(../../img/2025/games/catan_icons/forest.webp);
}

.catan_hexagon_stone
{
    background-image: url(../../img/2025/games/catan_icons/stone.webp);
}

.catan_hexagon_plains
{
    background-image: url(../../img/2025/games/catan_icons/plains.webp);
}

.catan_hexagon_wheat
{
    background-image: url(../../img/2025/games/catan_icons/wheat.webp);
}

.catan_hexagon_bricks
{
    background-image: url(../../img/2025/games/catan_icons/bricks.webp);
}

.catan_hexagon_desert
{
    background-image: url(../../img/2025/games/catan_icons/desert.webp);
}

.catan_hexagon_number
{
    width: 30px;
    height: 30px;
    background-color: #ffefb1;
    color: #000000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.catan_hexagon_number_red
{
    color: #ff0000;
}

.catan_popup
{
    display: flex;
    position: absolute;
    width: 200px;
    height: 110px;
    background-color: #ffffff;
    z-index: 100;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 10px 10px 10px;
    flex-wrap: wrap;
}

.catan_popup_close
{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    z-index: 100;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.catan_popup_title
{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 22px;
    justify-content: center;
    font-weight: 500;
}

.catan_popup_stats, .catan_popup_ship_stats
{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.catan_popup_ship_stats
{
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.catan_popup ul 
{
    list-style-type: none;
}

.catan_popup_close img
{
    width: 100%;
    height: 100%;
}

.catan_interactive_sea
{
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.catan_ship
{
    position: relative;
    width: 50%;
    height: 14.28%;
    z-index: 6;
}

.catan_map_footer
{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.download
{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    flex-wrap: wrap;
}

.download_title
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-top: 40px;
}

.download_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 350px;
    margin-top: 20px;
}

.download_single_file
{
    width: 100%;
    height: 50px;
    background-color: #e4e4e4;
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    color: #000000;
    border-radius: 5pt;
}

.download_single_file_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.download_single_file_icon_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50pt;
    background-color: #ffffff;
}

.download_single_file_icon_container img
{
    width: 25px;
    height: 25px;
}

.download_single_file_text
{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 65%;
    height: 100%;
    flex-wrap: wrap;
}

.download_single_file_title
{
    display: flex;
    align-items: center;
    font-size: 17px;
    width: 100%;
    height: 60%;
}

.download_single_file_name
{
    display: flex;
    align-items: flex-start;
    font-size: 11px;
    width: 100%;
    height: 40%;
    color: #494949;
}

.download_single_file_download
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    border-radius: 0pt 5pt 5pt 0pt;
    cursor: pointer;
    transition: all 0.3s;
}

.download_single_file_download:hover
{
    background-color: #d1d1d1;
}

.download_single_file_download_icon
{
    width: 25px;
    height: 25px;
    scale: 100%;
    transition: all 0.3s;
}

.download_single_file_download:hover .download_single_file_download_icon
{
    scale: 115%;
}