*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: "Lexend", serif;
    /* font-optical-sizing: auto; */
    font-weight: normal;
    /* font-style: normal; */
    scroll-behavior: smooth;
    color: #000000;
    font-size: 16px;
}

body
{
    background-color: #ffffea;
}

a {
    text-decoration: none;
    color: inherit;
}

.clickable
{
    cursor: pointer;
}

.invisible
{
    opacity: 0%;
}

#logo
{
    position: absolute;
    top: 10px;
    right: 10px;
}

#logo img
{
    width: 150px;
    height: 80px;
}

#header
{
    padding: 20px 10px 10px 10px;
    background-color: #ffffea;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header_container
{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: start;
}

#title
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6%;
    font-size: 30px;
    font-weight: 600;
    /* text-shadow: 1px 1px 3px #636363; */
    color: #cf7c00
}

#year
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7%;
    font-size: 50px;
    font-weight: 600;
    color: #000000
}

#tba
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 87%;
    font-size: 40px;
    text-align: center;
}

#timeline
{
    display: flex;
    min-height: 50vh;
    height: 87%;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 20px;
}

.timeline_event
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.timeline_date
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 10%;
    min-width: 150px;
    height: 100%;
    padding-right: 50px;
}

.timeline_game
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 10%;
    min-width: 150px;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0px 10px 50px;
}

.timeline_wide
{
    width: 30%;
    cursor: default;
}

.timeline_name
{
    display: flex;
    width: 100%;
    height: 20%;
    text-align: center;
    justify-content: center;
}

.timeline_icon
{
    padding: 10px 0px 10px 0px;
    width: 100%;
    height: 80%;
}

.timeline_icon img
{
    width: 100%;
    height: 100%;
}

.timeline_line
{
    min-width: 8px;
    height: 100%;
    background-color: #cf7c00;
}

.timeline_dot
{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #cf7c00;
}

.timeline_dot_active
{
    width: 40px;
    height: 40px;
}

#ranking
{
    background-color: #b96f00;
    height: 470px;
    padding: 40px 10px 10px 10px;
    color: #FFFFFF;
}

#ranking_title
{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    width: 100%;
    font-size: 30px;
    height: 10%;
    font-weight: 600;
}

#ranking_table_segment
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 90%;
    font-weight: 400;
    justify-self: center;
}

.ranking_table
{
    text-align: center;
    border-collapse: collapse;
    font-weight: 600;
    color: #ffffff;
    background-color: #d38e27;
}

.ranking_table th
{
    background-color: #a05500;
    color: #ffffff;
    font-weight: 800;
}

.ranking_table tr
{
    height: 40px;
}

.ranking_table .ranking_position
{
    border: 0px;
    width: 60px;
}

.ranking_table .ranking_player_header
{
    width: 200px;
}

.ranking_table .ranking_player
{
    padding-left: 20px;
    text-align: left;
}

.ranking_table .ranking_game
{
    padding: 0px;
    transition: background-color 0.6s ease;
    width: 60px;
}

.ranking_game1,.ranking_game2,.ranking_game3,.ranking_game4
{
    padding-top: 4px;
    height: 100%;
}

.ranking_game_clickable:hover
{
    background-color: #c77c0b;
    cursor: pointer;
}

.ranking_table .ranking_total_header
{
    width: 60px;
    font-weight: 800;
}

.ranking_table .ranking_total
{
    width: 60px;
    font-weight: 800;
}

.ranking_table .ranking_table_first_position
{
    background-color: #c08300;
    color: #ffffff; 
}

.ranking_table .ranking_table_second_position
{
    background-color: #8b8b8b;
    color: #ffffff;
}

.ranking_table .ranking_table_third_position
{
    background-color: #7c350c;
    color: #ffffff;
}

.ranking_table .ranking_table_fourth_position
{
    background-color: #8BA8B7;
    color: #ffffff;
}

.ranking_table .ranking_game img
{
    width: 26px;
    height: 26px;
    align-self: flex-end;
}

#ranking_description
{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 15px;
    width: 100%;
    font-size: 13px;
    height: 10%;
    text-decoration: underline;
}

#ranking_popup
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#ranking_popup_container 
{
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 350px;
    color: #000000;
    opacity: 100%;
    font-family: "Markazi Text", serif;
}

#ranking_popup_header
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}

#ranking_popup_title
{
    padding: 5px 0px 5px 30px;
    font-size: 30px;
    color: #000000;
    font-weight: 600;
    width: 330px;
    font-family: "Lexend", serif;
}

#ranking_popup_close_tab
{
    align-self: flex-start;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.close_tab
{
    width: 20px;
    height: 20px;
}

.ranking_popup_line
{
    width: 100%;
    height: 3px;
    margin: 10px 0px 10px 0px;
    border-bottom: 3px solid #000000;;
}

.ranking_popup_subline
{
    width: 100%;
    height: 3px;
    margin: 10px 0px 10px 0px;
    font-weight: 500;
}

.ranking_popup_subtitle
{
    font-size: 25px;
    color: #000000;
}

#ranking_button
{
    cursor: pointer;
}

.hidden {
    display: none;
}

#catan
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../img/2025/games/catan.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
}

#catan_rules_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

#catan_rules_box
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
    height: 75%;
    color: #ffffff;
}

#catan_rules_title
{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
}

#catan_rules_text
{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

#catan_rules_board
{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    cursor: pointer;
}

#catan_rules_board img
{
    width: 500px;
    height: 500px;
}


#catan_results_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

#catan_results_box
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 75%;
}

#catanBy
{
    font-size: 20px;
}

#catan_results_title
{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
}

#catan_results_games
{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

#catan_results_games_box
{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 50%;
    background-color: #ffffff00;
    color: #ffffff;
    border-radius: 30pt;
    /* border: 2px solid #000000; */
    display: none;
}

#catan_results_games_left, #catan_results_games_right
{
    display: flex;
    width: 10%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#catan_results_games_center
{
    display: flex;
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
}

#catan_results_games_top
{
    display: flex;
    width: 1000%;
    height: 15%; 
    justify-content: center;
    align-items: center;
}

#catan_results_games_content
{
    display: flex;
    width: 1000%;
    height: 70%; 
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    align-items: center;
    padding: 5px 5px 5px 5px;
}

#catan_results_games_bottom
{
    display: flex;
    width: 1000%;
    height: 15%; 
    justify-content: center;
    align-items: center;
}

.selector_dot
{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid rgb(255, 255, 255);
    margin: 0px 3px;
    cursor: pointer;
}

#catan_results_round_0, #catan_results_round_1, #catan_results_round_2, #catan_results_round_3, #catan_results_round_4
{
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.catan_results_table
{
    width: 80%;
    height: 80%;
    text-align: center;
}

#catan_results_table tr
{
    height: 20%;
}

.catan_results_header_position
{
    width: 20%;
}

.catan_results_header_player
{
    width: 60%;
}

.catan_results_header_points
{
    width: 20%;
    cursor: default;
}

#catan_map
{
    width: 100%;
    height: 800px;
    padding: 20px 10px 0px 10px;
    /* background-color: #cf7c00; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#catan_map_title
{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
}

#catan_map_subtitle
{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 700;
}

#catan_map_reason, #catan_map_disclaimer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 51%;
    text-align: center;
}

#catan_map_disclaimer
{
    font-size: 16px;
}

#catan_interactive_map_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 450px;
    height: 400px;
    font-weight: 500;
    background-image: url(../../img/2025/games/catan_icons/normalBackground.png);
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/2025/games/catan_icons/normalBackground.png'); */
    background-size: cover;
    background-position: center;
}

#catan_interactive_map
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    font-weight: 500;
}

.catan_interactive_map_row
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.catan_hexagon 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; /* adjust to control the size  */
    aspect-ratio: cos(30deg);
    clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
    background: #3B8686;
    color: #ffefb1;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    z-index: 10;
}

.catan_hexagon_forest
{
    background-image: url(../../img/2025/games/catan_icons/forest.png);
}

.catan_hexagon_stone
{
    background-image: url(../../img/2025/games/catan_icons/stone.png);
}

.catan_hexagon_plains
{
    background-image: url(../../img/2025/games/catan_icons/plains.png);
}

.catan_hexagon_wheat
{
    background-image: url(../../img/2025/games/catan_icons/wheat.png);
}

.catan_hexagon_bricks
{
    background-image: url(../../img/2025/games/catan_icons/bricks.png);
}

.catan_hexagon_desert
{
    background-image: url(../../img/2025/games/catan_icons/desert.png);
}

.catan_hexagon_number
{
    width: 30px;
    height: 30px;
    background-color: #ffefb1;
    color: #000000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.catan_hexagon_number_red
{
    color: #ff0000;
}

#catan_popup
{
    display: flex;
    position: absolute;
    width: 200px;
    height: 110px;
    background-color: #ffffff;
    z-index: 100;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 10px 10px 10px;
    flex-wrap: wrap;
}

#catan_popup_close
{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    z-index: 100;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#catan_popup_title
{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 22px;
    justify-content: center;
    font-weight: 500;
}

#catan_popup_stats, #catan_popup_ship_stats
{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#catan_popup_ship_stats
{
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

#catan_popup ul 
{
    list-style-type: none;
}

#catan_popup_close img
{
    width: 100%;
    height: 100%;
}

#catan_interactive_sea
{
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.catan_ship
{
    position: relative;
    width: 50%;
    height: 14.28%;
    z-index: 6;
}

#catan_map_footer
{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}