/* max-height:580px */

#title
{
    font-size: 20px;
}

#year
{
    margin-top: 4px;
    font-size: 35px;
}

#catan
{
    height: 400vh;
}

#catan_map_reason, #catan_map_disclaimer
{
    width: 90%;
}